{% extends 'layoutFront.html.twig' %}
{% block block_no_filter %}
         <section style="overflow: hidden;" class="content-center main-login main-center">

                        {{form_start(form,{'attr':{'class':'form-horizontal'}}) }}
							<div class="form-group">
						
								<div class="cols-sm-10">
										        {{form_widget(form.name)}}   
								</div>
							</div>
							<div class="form-group">
							
								<div class="cols-sm-10">
									
										{{form_widget(form.phone)}} 
								
								</div>
							</div>
							<div class="form-group">
							
								<div class="cols-sm-10">
									
										{{form_widget(form.email)}} 
								
								</div>
							</div>
					
							<div class="form-group ">
								<button type="submit" class="btn btn-primary btn-lg btn-block login-button">{{ 'payment_bycard.form.button'|trans }}</button>
							</div>
				
                        {{ form_row(form._token) }}
                        {{ form_end(form, {'render_rest': false}) }}
                
          </section>

		 {% block specifics_javascripts %}
				<script type="text/javascript">
						  
		document.addEventListener("DOMContentLoaded", function() {
    var elements = document.getElementsByTagName("INPUT");
    for (var i = 0; i < elements.length; i++) {
        elements[i].oninvalid = function(e) {
            e.target.setCustomValidity("");
            if (!e.target.validity.valid) {
                e.target.setCustomValidity("{{ 'showroomrequest.validation.required' | trans }}");
            }
        };
        elements[i].oninput = function(e) {
            e.target.setCustomValidity("");
        };
    }
});
				</script>
    {% endblock %}

{% endblock %}
        
