{% extends 'layoutFront.html.twig' %} 

    {% block block_no_filter %}
            <div class="thany-you-page"> 
			 
			     <header class="site-header" id="header">
				        <h1 class="site-header__title" data-lead-id="site-header-title">

						 {{ 'showroomrequest.thankyou.title'|trans }}
						
						</h1>
			     </header>

		     	<div class="main-content">
						<i class="fa fa-check main-content__checkmark" id="checkmark"></i>
						<p class="main-content__body" data-lead-id="main-content-body">
						
                         {{ 'showroomrequest.thankyou.body'|trans }}
						</p>
		    	</div>


			    
			</div>
			 {% block specifics_javascripts %}
				<script type="text/javascript">
						$(document).ready(function(){
									window.setTimeout(function(){
									// Move to a new location or you can do something else
									window.location.href = Routing.generate('ads_page');
								}, 5000);
						});
				</script>
    {% endblock %}
    {% endblock %}
	
	