{% extends 'layoutFront.html.twig' %}
{% block title %}77maroc-Tout les annonces{% endblock %}
 {% block content %}
<section class="content-center">
    <div class="row">
        {% include 'FlashMessages/FlashMessages.html.twig'%}
    </div>
<h1 class="grey small no-border">{{ 'annonces.tous_annonce'|trans }}</h1>
 
 <section id="listingAds" class="grid-3-1">


    {% if ads is empty %}
            <h1 class="lead text-info"><i class="fa fa-exclamation-circle fa-2x"></i>{{ 'annonces.aucune_annonce_trouve'|trans }}</h1>
     {% else %}
        <section class="list mainList tabs">
            <div class="apn-lt" id="lt_1">
                <div id="lt-s" class="teal-apn"></div>
                <div id="lt-m" class="teal-apn"></div>
            </div>

            <header class="tabsHeader clearfix">
                <nav class="fl">
                    <a href="{% if app.request.attributes.get('_route') == "ads_category_index" %} {{ path('ads_category_index',{ 'categoryfather':app.request.attributes.get('categoryfather')})}} {% elseif app.request.attributes.get('_route') == "filter_global_ad"%} {{ path(app.request.attributes.get('_route'), app.request.query.All)|replace({'type': ' '})}} {% else %} {{ path('ads_page') }} {% endif %}" title="Afficher toutes les annonces" class="tabsSwitch trackable {% if app.request.get('type') == null  %}active{% endif %} ">{{ 'annonces.header.tous'|trans }}<span class="tabsSwitchNumbers small-hidden tiny-hidden"> {{ numberAllAds }}</span></a>
                   {% if numberParAds == "0" %}
                      <a  title="Afficher uniquement les annonces de Particuliers" class="tabsSwitch trackable"><span class="custom-medium-hidden">{{ 'annonces.header.particulier'|trans }}</span><span class="tabsSwitchNumbers small-hidden tiny-hidden"> {{ numberParAds }}</span></a>
                   {% else %}
                    <a href="{% if app.request.attributes.get('_route') == " ads_category_index " %} {{ path('ads_category_index',{ 'categoryfather':app.request.attributes.get('categoryfather'), 'type':'par'})}} {% elseif app.request.attributes.get('_route') == "filter_global_ad"%} {{ path(app.request.attributes.get('_route'), app.request.query.All|merge({'type': 'par'})) }} {% else %}{{ path('ads_page',{'type':'par'}) }}{% endif %}" title="Afficher uniquement les annonces de Particuliers" class="tabsSwitch trackable   {% if app.request.get('type') is defined and app.request.get('type') == 'par'  %}active{% endif %}"><span class="custom-medium-hidden">{{ 'annonces.header.particulier'|trans }}</span><span class="tabsSwitchNumbers small-hidden tiny-hidden"> {{ numberParAds }}</span></a>
                    {% endif %}

                     {% if numberProAds == "0" %}
                       <a title="Afficher uniquement les annonces de Professionnels" class="tabsSwitch trackable "><span class="custom-medium-hidden">{{ 'annonces.header.professionnel'|trans }}</span><span class="tabsSwitchNumbers small-hidden tiny-hidden">{{ numberProAds }}</span></a>
                    {% else %}
                    <a href="{% if app.request.attributes.get('_route') == " ads_category_index " %} {{ path('ads_category_index',{ 'categoryfather':app.request.attributes.get('categoryfather'), 'type':'pro'})}} {% elseif app.request.attributes.get('_route') == "filter_global_ad"%} {{ path(app.request.attributes.get('_route'), app.request.query.All|merge({'type': 'pro'})) }} {% else %} {{ path('ads_page',{'type':'pro'}) }} {% endif %}" title="Afficher uniquement les annonces de Professionnels" class="tabsSwitch trackable  {% if app.request.get('type') is defined and app.request.get('type') == 'pro'  %}active{% endif %}"><span class="custom-medium-hidden">{{ 'annonces.header.professionnel'|trans }}</span><span class="tabsSwitchNumbers small-hidden tiny-hidden">{{ numberProAds }}</span></a>
                    {% endif %}
                </nav>
            </header>
            <section class="tabsContent block-white dontSwitch">
                <ul>
                    {% if adsFeatureList is not null %}
                   <div style="margin-bottom:10px; background: antiquewhite;">
                        <p class="lead" style="padding-left:10px"><span>{{ 'annonces.message'|trans }}</p>
                        {% for adf in adsFeatureList %}
                        <li>
                           {% set ville = (ad.villename is not empty) ? ad.villename : "ville"  %}
                            <a href="{{ path('detail_ad',{'ville':ville,'category':adf.category,'slug':adf.slug})}}" class="list_item clearfix trackable">
                                <div class="item_image">
                                    {% if adf.images|length > 0 %}
                                     {% set imageFirst= adf.images|first %}
                                     {% if imageFirst is not null %} 
                                        <span class="item_imagePic img-attr"  style="background:url('{{ vich_uploader_asset(imageFirst, 'pathFile') |imagine_filter('ad_thumb_small') }}') center no-repeat;">                    
                                           </span>
                                           <span class="item_imageNumber">
                                                <i style="color: black;" class="fa fa-camera fa-1x" aria-hidden="true"></i>
                                                 <span>{{adf.images|length}}</span>
                                           </span>

                                        {% endif %}
                                    {% else %}
                                        <span class="item_imagePic" style="background:url('/plugins/front/img/no-picture.png') center no-repeat;">
                                           </span>
                                    {% endif %}

                                </div>
                                
                               
                                <section class="item_infos">
                                    <h2 class="item_title" itemprop="name" style=" font-weight: bold;">{{ adf.title }}</h2>
                                    <p class="item_supp" itemprop="category" style="line-height: 47px;
                                                            color: #9a9a9a;
                                                            font-weight: bold;" content="{{ adf.villename }} - {{ adf.secteurname}}">
                                        {{ adf.villename }} - {{ adf.secteurname}}
                                        
                                    </p>  
                                    <p class="item_supp" itemprop="category" style="line-height: 47px;" >
                                       {% if adf.urlyoutube is not empty %}
                                           <img style="max-width:50px; max-height:100px;" class="adbadge" src="{{ asset('img/youtube.png')}}">
                                        {% endif %}

                                        {% if adf.user is not null %}
                                            {% for role in adf.user.roles if role == 'ROLE_VETRINE' %}
                                              <img style="margin-left:5px;max-width:50px; max-height:100px;" class="adbadge"  src="{{ asset('img/shield.png')}}">
                                            {% endfor %}
                                          {% endif %}
                                        

                                    </p>
                                  
                                    <aside class=" adprice item_absolute">
                                        <p class="item_supp" itemprop="availabilityStarts" content="{{adf.createdAt|date('Y-m-d H:i:s')}}">
                                            <span style=" font-weight: bold;">{{adf.price}} {{ 'global.devise'|trans }}</span>
                                        </p>
                                    </aside>
                                </section>
                            </a>
                        </li>
                        {% endfor %}
                        </div>

                    <hr style="border:2px solid #61304b">
                {% endif %}
                    <div> 
                     {% for ad in ads %}
                    <li>
                        {% set ville = (ad.villename is not empty) ? ad.villename : "ville"  %}                    
                        <a href="{{ path('detail_ad',{'ville':ville,'category':ad.category,'slug':ad.slug})}}" data-adid="{{ ad.id }}" class="list_item clearfix trackable {{ (ad.attractive) ? 'attractive' : '' }}">
                            <div class="item_image">

                                 {% if ad.images|length > 0 %}
                               {% set  imageFirst= ad.images|first %}
                                {% if imageFirst is not null %}
                                <span class="item_imagePic" style="background:url('{{ vich_uploader_asset(imageFirst, 'pathFile') |imagine_filter('ad_thumb_small') }}') center no-repeat;">
                                           </span>
                               <span class="item_imageNumber">
                                <i style="color: black;" class="fa fa-camera fa-1x" aria-hidden="true"></i>
                                 <span>{{ad.images|length}}</span>
                                </span>
                                {% endif %}
                                {% else %}
                                    <span class="item_imagePic" style="background:url('/plugins/front/img/no-picture.png') center no-repeat;">
                                           </span>
                                {% endif %}


                            </div>
                            {% if app.user %}
                                  <div title="" class="saveAd">
                                      <div class="saveMsg"><i class="{{ (ad in favads) ? 'fa fa-heart' : 'fa fa-heart-o' }}" aria-hidden="true"></i></div> 
                                  </div>
                            {% endif %}

                            {% if ad.renewed %}
                                   <img class="renewedad" src="{{ asset('img/renewable.png')}}">
                            {% endif %}
                            
                            
                            <section class="item_infos">
                                <h2 class="item_title" itemprop="name" style=" font-weight: bold;">{{ ad.title }}</h2>
                                <p class="item_supp" itemprop="category" style="line-height: 47px;
                                        color: #9a9a9a;
                                        font-weight: bold;" content="{{ ad.villename }} - {{ ad.secteurname}}">
                                        {{ ad.villename }} - {{ ad.secteurname}}
                                        
                                    </p>
                                    
                                    <p class="item_supp" style="line-height: 47px; color: #9a9a9a;font-weight: bold;"><i style="color:blue !important;" class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp; {{ad.createdAt|date('Y-m-d')}}

                                                  
                                      </p>
                                       <p class="item_supp" style="line-height: 47px; color: #9a9a9a;font-weight: bold;">
                                      
                                        {% if ad.urlyoutube is not empty %}
                                           <img class="adbadge-espace" style="max-width:50px; max-height:100px;" src="{{ asset('img/youtube.png')}}">
                                        {% endif %}

                                        {% if ad.user is not null %}
                                            {% for role in ad.user.roles if role == 'ROLE_VETRINE' %}
                                              <img class="adbadge-espace" style="margin-left:5px;max-width:50px; max-height:100px;" src="{{ asset('img/shield.png')}}">
                                            {% endfor %}
                                          {% endif %}
                                        

                                                  
                                      </p>
                                    <aside class="adprice item_absolute">
                                        <p class="item_supp" content="{{ad.createdAt|date('Y-m-d H:i:s')}}">

                                            <span style=" font-weight: bold;">{{ad.price}} {{ 'global.devise'|trans }}</span>

                                        </p>
                                    </aside>
                                </section>
                            </a>
                        </li>
                        {% endfor %}
                    </div>
                </ul>
            </section>
            <footer class="pagination clearfix">
                {{ knp_pagination_render(ads) }}
            </footer>
        </section>
        {% endif %} {% include 'PartialsFront/side-ads.html.twig' %}
    </section>
</section>

{% block specifics_javascripts %}
<script>

$(document).ready(function(){
    $(document).ready(function(){
 
    $('[tool-tip-toggle="tooltip-demo"]').tooltip({
 
         placement : 'top',
         position: {
                  my: "center bottom",
                  at: "center top-10",
                  collision: "none"
               }
 
    });
 
});
});

 $(".saveMsg").unbind().on('click',function(){
          $(this).parents('a').on('click',function(e){
  
           return false;
         });
         console.log($(this).find('i').hasClass('fa-heart-o'));
          if($(this).find('i').hasClass('fa-heart-o')){
                    $(this).find('i').removeClass('fa-heart-o');
                    $(this).find('i').addClass('fa-heart');
            }else{
                    $(this).find('i').removeClass('fa-heart'); 
                    $(this).find('i').addClass('fa-heart-o');
                    
            }

          var adid = $(this).parents('a').attr('data-adid');
          $.ajax({
               url:Routing.generate('favad_index',{id : adid}),
               type:'POST',
               success: function(res){
                 
                console.log("done");
               }
         });
           

    });

</script>

{% endblock %}
{% endblock %}