{% extends 'layoutFront.html.twig' %}
{% block title %}77maroc-Déposer annonce{% endblock %}
 {% block specifics_stylesheets %}

{# add #}
  <link href="{{asset('plugins/front/dist/css/smart_wizard.css')}}" rel="stylesheet" type="text/css" />
  <link href="{{asset('plugins/front/dist/css/smart_wizard_theme_dots.css')}}" rel="stylesheet" type="text/css" />
<style type="text/css">
.form-control {
  margin: 10px;
}
#map {
      height: 200px;
      width: 100%;
     }
#floating-panel {
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
</style>
 {% endblock %}

 {% block block_no_filter %}

<div class="loading" style="min-height: 500px; margin-left: 40%; max-width: 500px; margin: auto;">
  <img style="margin: auto; display: block;" src="{{asset('plugins/front/img/lg.fidget-spinner.gif')}}">
</div>
<div class="row">
    {% include 'FlashMessages/FlashMessages.html.twig'%}
</div>


<main id="main" role="main" style="min-height:516px; display:none">
    <section class="content-center">
        <form  action="{{ path('dipost_ad_trait')}}" data-toggle="validator"   method="POST" id="myForm"
         role="form"  enctype="multipart/form-data" >
            <!-- SmartWizard html -->
            <div id="smartwizard">
                <ul>
                    <li><a href="#step-1">{{ 'deposer_annonce.steps.step1.title'|trans }}<br /><small>{{ 'deposer_annonce.steps.step1.subtitle'|trans }}</small></a></li>
                    <li><a href="#step-2">{{ 'deposer_annonce.steps.step2.title'|trans }}<br /><small>{{ 'deposer_annonce.steps.step2.subtitle'|trans }}</small></a></li>
                    <li><a href="#step-3">{{ 'deposer_annonce.steps.step3.title'|trans }}<br /><small>{{ 'deposer_annonce.steps.step3.subtitle'|trans }}</small></a></li>
                   
                </ul>
                <div>
                  <!--##############################begin step 1###############################-->
                    <div id="step-1" style="padding:50px; ;min-height: 500px;">
                        <h3 style="color:#ccc">{{ 'deposer_annonce.steps.step1.subtitle'|trans }}</h3>
                        <div id="form-step-0" role="form" data-toggle="validator" style="padding:30px;">   
                              {% include 'Partials/categoriesCritiriaOptions.html.twig' %}
                              
                        </div>
                    </div>
                       <!--##############################End step 1###############################-->
                       <!--##############################Begin step 2###############################-->

                    <div id="step-2" style="padding:50px; ;min-height: 500px;">
                        <h3 style="color:#ccc">{{ 'deposer_annonce.steps.step2.subtitle'|trans }}</h3>
                        <div id="form-step-1" role="form" data-toggle="validator" style="margin-bottom: 42px; padding:30px;">
                             {% include 'Partials/cityRegionSecteur.html.twig' %}
                            <div class="form-group col-lg-12" style="margin-left:19%">
                                <label for="name" class="col-sm-3 text-primary">{{ 'adtitle'|trans }} :</label>
                                <div class="col-sm-4">
                                <input type="text" class="form-control" name="title" id="email" placeholder="{{ 'adtitle'|trans }}" required>
                              </div>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group col-lg-12" style="margin-left:19%" id="price">
                               <label class="col-sm-3 text-primary" for="price">{{ 'adprice'|trans }} :<strong>*</strong></label>  
                               <div class="col-sm-4">
                               <input type="number" class="form-control" name="price" required="required" placeholder="{{ 'adprice'|trans }}" required>
                             </div>
                               <div class="help-block with-errors"></div>
                           </div>
                             <div class="form-group col-lg-12" style="margin-left:19%">
                                <label class=" col-sm-3 text-primary" for="description">{{ 'addescription'|trans }} :<strong>*</strong></label>  
                                <div class="col-sm-4">  
                                <textarea rows="9" cols="30" class="form-control" id="description"
                                  name="description" placeholder="{{ 'addescription'|trans }}" required></textarea>
                                </div>
                                 <div class="help-block with-errors"></div>
                             </div>  
                             <hr style="border:1px solid #ccc"/>
                             <div class="form-group col-lg-12">
                 
                                    <label class="text-primary" for="localisation.lib">{{ 'addescription'|trans }} :</label>    
                                 
                                  <input type='text' placeholder='{{ 'localisation.placeholder'|trans }}' id='search-in-map' class='form-control'/>
                                  <div id="map"></div>

                             
                               
                             </div>  
                             <input type="hidden" name="latLng">
                        </div>
                     </div>


               <!--##############################End step 2###############################-->

              <!--##############################Begin step 3###############################-->

                    <div id="step-3" style="padding:50px; ;min-height: 500px;">
                        <h3 style="color:#ccc">{{ 'deposer_annonce.steps.step3.subtitle'|trans }}</h3>
                        <div id="form-step-2" role="form" data-toggle="validator" style="padding:30px;">
                           
                          <div class="row" style="margin-bottom:40px;">
                            
                          

                          <!-- #########################################-->
                               <div class="form-group file_container" id="uploadPhoto-0" style="margin:14px; margin-top:8%;" >
                                 <h4 class="text-primary hidden-sm" style="position: absolute;top:-35px;">{{ 'photo.lib_principal'|trans }}</h4>
                                  <input type="file" data-error="la permiere photo est obligatoire !"  class="img-uploads picture" name="image0"  >
                                   <img src="" class='preview' style="height:100%; width:100% ;display:none;">
                                   <div class="loadImg" style="display:none;">
                                    <img src="{{asset('img/ajax-loader.gif')}}">
                                   </div>
                                   <button class="btn btn-danger btn-sm delete-img-temp" style="display:none;">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                    <p class="pg-img lead">{{ 'photo.lib_principal'|trans }}</p>
                                    <i class="fa fa-camera fa-2x ft-img" aria-hidden="true"></i>
                                   <div class="help-block with-errors"></div>
                                </div>

                                {% for i in 2..app.user.accounttype.numberofphotos %}
                                  <div class="form-group file_container " id="uploadPhoto-0" style="margin:14px; margin-top:8%;" >
                                     <h4 class="text-primary hidden-sm" style="position: absolute;top:-35px;bottom: 0">{{ 'photo.lib'|trans }} {{ i-1}}</h4>
                                  <input type="file"  class="img-uploads picture" name="image{{i}}"  >
                                   <img src="" class='preview' style="height:100%; width:100%;display:none;">
                                    <div class="loadImg" style="display:none;">
                                    <img src="{{asset('img/ajax-loader.gif')}}">
                                   </div>
                                   <button class="btn btn-danger btn-sm delete-img-temp" style="display:none;">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                    <p class="pg-img lead">{{ 'photo.lib'|trans }} {{i}}</p>
                                    <i class="fa fa-camera fa-2x ft-img" aria-hidden="true"></i>
                                   <div class="help-block with-errors"></div>
                                </div>
                                {% endfor %}

                               </div>
                             <hr style="border:1px solid #ccc"/>

                             <div class="form-group col-lg-12">
                              <div class="col-lg-6">
                                     <label for="name" class="text-primary">{{ 'youtube.lib'|trans }}:</label>
                                <input type="text" class="form-control" name="lienYoutube" id="email" placeholder="{{ 'youtube.lib'|trans }}" >
                                <div class="help-block with-errors"></div>

                              </div>
                               <div class="col-lg-6">
                                <label for="name" class="text-primary">{{ 'website.lib'|trans }}:</label>
                                <input type="text" class="form-control" name="lienWebSite" id="email" placeholder="{{ 'website.lib'|trans }}" >
                                <div class="help-block with-errors"></div>

                              </div>
                               
                             </div>
                                <hr style="border:1px solid #ccc"/>
                              <div class="form-group col-lg-12">
                                <div class="col-lg-6">
                                    <label for="name" class="lead text-primary">{{ 'phone.lib'|trans }}</label>
                                </div>
                                <div class="col-lg-4">
                                 <input type="number" disabled name="numero" style="" class="form-control" value="{{app.user.phone}}">
                                </div>
                                <div class="checkbox col-lg-2">
                                  <label> <input  name="numeroshow" type="checkbox" id="numeroshow"></label>
                                </div>
                               
                              </div>
                                <hr style="border:1px solid #ccc"/>
                            <h3 style="color:#ccc">{{ 'deposer_annonce.steps.step4.subtitle'|trans }}</h3>
                         <label for="terms">{{ 'deposer_annonce.steps.step4.iagree'|trans }}</label>
                                <input type="checkbox" id="terms" data-error="Please accept the Terms and Conditions" required>
                                <div class="help-block with-errors"></div>
                       
                       
                        </div>
                    </div>
                     <!--##############################End step 3###############################-->
                    

                </div>
            </div>
        </form>
    </section>
    <input type="hidden" id="innext" name="" value="{{ 'deposer_annonce.next'|trans }}">
    <input type="hidden" id="inprev"  name="" value="{{ 'deposer_annonce.prev'|trans }}">
    <input type="hidden" id="infinish" name="" value="{{ 'deposer_annonce.send'|trans }}">
    <input type="hidden" id="inempty"  name="" value="{{ 'deposer_annonce.empty'|trans }}">
    <div style="z-index:99999999" id="myModal" class="modalll">
    <span class="closeee">&times;</span>
    <img class="modal-contenttt" id="img01" style="margin-top:4%;max-width:450px;">
    <div id="captionnn"></div>
</div>
</main>
{% endblock %}

{% block specifics_javascripts %}
<script src="{{asset('plugins/front/js/comporess.js')}}"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
<script type="text/javascript" src="{{ asset('plugins/front/dist/js/jquery.smartWizard.min.js')}}"></script>

  

<script type="text/javascript">



$(document).ready(function() {
  
     $("select#categories").on('change', function() {

        $('input[name="fathercategory"]').val($(this).find(':selected').attr('data-father-cat'));

        $('div.critirias-options').find('.critiriasOpt').hide();
        $('div.critirias-options').find('.critiriasOpt').find('select').attr('disabled', 'disabled');
        $('div.critirias-options').find('.critiriasOpt').find('input').attr('disabled', 'disabled');

        
        $('div.critirias-options').find('.' + $(this).val()).find('select').removeAttr('disabled');
        $('div.critirias-options').find('.' + $(this).val()).find('input').removeAttr('disabled');
        $('div.critirias-options').find('.' + $(this).val()).show();

    });
    $(document).on("change","select.sub-list",function() {
        $('div.critirias-options').find('select.' + $(this).attr('id')).children('option').hide();
/*        $('div.critirias-options').find('select.' + $(this).attr('id')).find('.' + $(this).val());
*/        $('div.critirias-options').find('select.' + $(this).attr('id')).find('.' + $(this).val()).show();

    });
     $('select.region').on('change',function(){
               $('select.ville').children('option').hide();
               $('select.ville').find('.'+$(this).val()).show();
      });
      $('select.ville').on('change',function(){
        
         if($("select#categories").find(':selected').attr('data-father-cat') == "immobilier_location"
             || $("select#categories").find(':selected').attr('data-father-cat') =="immobilier_vente" ){
              $('.quartier-hide').show();
              $('select.quartier').removeAttr('disabled');
              $('select.quartier').attr('required','required');
              $('select.quartier').children('option').hide();
              $('select.quartier').find('.'+$(this).val()).show();
          }
      });


  const compressor = new Compress();
  $('.img-uploads').on('change',function(evt){
      
       const files = [...evt.target.files]
      compressor.compress(files, {
           size: 4, 
           quality: 0.45, 
           maxWidth: 550, 
           maxHeight: 210,
      }).then((results) => {
        console.log(results)
        const output = results[0]
        const file = Compress.convertBase64ToFile(output.data, output.ext);
       // console.log(output.prefix + output.data);
        $(this).parent('div').find('.loadImg').show();
        $(this).parent('div').find('.preview').attr('src',output.prefix + output.data); 
        var self = $(this);
            self.parent('div').find('.ft-img').hide(); 
           self.parent('div').find('.pg-img ').hide();
       setTimeout(function(){
           self.parent('div').find('.loadImg').hide();
           self.parent('div').find('.preview').show();
        
           self.hide();
           self.parent('div').find('.delete-img-temp').show();                    
       },700);
                                   
      });
  }); 

$('.delete-img-temp').on('click',function(){
    $(this).parent('div').find('input:file').val('');
    $(this).parent('div').find('input:file').show();
    $(this).parent('div').find('.ft-img').show(); 
    $(this).parent('div').find('.pg-img ').show(); 
    $(this).parent('div').find('.preview').attr('src','');
     $(this).parent('div').find('.preview').hide();
    $(this).parent('div').find('.delete-img-temp').hide();     
});
    
$('img.preview').on('click',function(){
        var img = $(this).attr('src');
        $('.modalll').show();
        $('.modal-contenttt').attr('src',img);  
});

$('.closeee').on('click',function(){
    $('.modalll').hide();
});
  
setTimeout(function(){
    $('.loading').hide();
    $('#main').show('slideUp');
},2000);


    // Toolbar extra buttons
    var btnFinish = $('<button></button>').text($('#infinish').val())
        .addClass('btn btn-info')
        .on('click', function() {
         //$("#myForm").submit();

            if (!$(this).hasClass('disabled')) {
                var elmForm = $("#myForm");
                if (elmForm) {
                    elmForm.validator('validate');
                    var elmErr = elmForm.find('.has-error');
                    if (elmErr && elmErr.length > 0) {
                        alert('il faut remplir tou les champs');
                        return false;
                    } else {
                      
                       document.getElementById('myForm').submit();
                        
                    }
                }
            }
        });

    var btnCancel = $('<button></button>').text($('#inempty').val())
        .addClass('btn btn-danger')
        .on('click', function() {
            $('#smartwizard').smartWizard("reset");
            $('#myForm').find("input, textarea").val("");
        });



    // Smart Wizard
    $('#smartwizard').smartWizard({
        selected: 0,
        theme: 'dots',
        transitionEffect: 'fade',
        toolbarSettings: {
            toolbarPosition: 'right',
            toolbarButtonPosition:'right',
            toolbarExtraButtons: [btnFinish, btnCancel]
        },
        lang: {  // Language variables
                next: $('#innext').val(), 
                previous:  $('#inprev').val()
        },
        anchorSettings: {
            markDoneStep: true, // add done css
            markAllPreviousStepsAsDone: true, // When a step selected by url hash, all previous steps are marked done
            removeDoneStepOnNavigateBack: true, // While navigate back done step after active step will be cleared
            enableAnchorOnDoneStep: true // Enable/Disable the done steps navigation
        }
    });

    $("#smartwizard").on("leaveStep", function(e, anchorObject, stepNumber, stepDirection) {
       
        var elmForm = $("#form-step-" + stepNumber);
        // stepDirection === 'forward' :- this condition allows to do the form validation
        // only on forward navigation, that makes easy navigation on backwards still do the validation when going next
        if (stepDirection === 'forward' && elmForm) {
            elmForm.validator('validate');
            var elmErr = elmForm.children('.has-error');
             if(stepNumber == 0)
             {
              var check = true;
              $('#step-1 .help-block').each(function(elm,index){
                    if($(this).has('ul').length){
                        check = false;
                 }
               });
             
              return check;
             }

            if (elmErr && elmErr.length > 0) {
                // Form validation failed
                return false;
            }
        }
        return true;
    });

    $("#smartwizard").on("showStep", function(e, anchorObject, stepNumber, stepDirection) {
        // Enable finish button only on last step
        if (stepNumber == 2) {
            $('.sw-btn-group-extra').show();
            $('.sw-btn-group').hide();
        } else {
             $('.sw-btn-group-extra').hide();
             $('.sw-btn-group').show();
        }
    });
    $('.sw-btn-group-extra').hide();
});
</script>
   <script>

 
      var map;
      var markers = [];

      function initMap() {
        var haightAshbury = {lat: 33.589886, lng:-7.603869};

        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 5,
          center: haightAshbury,
          mapTypeId: 'terrain'
        });

        // This event listener will call addMarker() when the map is clicked.
        map.addListener('click', function(event) {
          $("input[name='latLng']").val(event.latLng);
          addMarker(event.latLng);
        });
         var input = document.getElementById("search-in-map");
            // disactivate enter key onkeypress event
            jQuery('#search-in-map').on('keypress', function(e) {
                if (e.keyCode === 13) e.preventDefault();
            });
            var autocomplete = new google.maps.places.Autocomplete(input);

            autocomplete.addListener('place_changed', function() {
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    window.alert("Please enter a valid address! Or click on the address of the list!");
                    return;
                }

                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(14); // Why 17? Because it looks good.
                }
                return false;
            });

      }

      // Adds a marker to the map and push to the array.
      function addMarker(location) {
        var marker = new google.maps.Marker({
          position: location,
          map: map
        });
        clearMarkers();
        markers.push(marker);
      }

      // Sets the map on all markers in the array.
      function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      }

      // Removes the markers from the map, but keeps them in the array.
      function clearMarkers() {
        setMapOnAll(null);
      }

      // Shows any markers currently in the array.
      function showMarkers() {
        setMapOnAll(map);
      }

      // Deletes all markers in the array by removing references to them.
      function deleteMarkers() {
        clearMarkers();
        markers = [];
      }



    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvw5GTN-dwAV7zOWKod5WNyrcygUKMgM8&libraries=places&callback=initMap">
    </script>

    
{% endblock %}
