{% extends 'layoutAdmin.html.twig'%} 
{% block title %}77Maroc-Add{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="row">
        <div class="toolbar pull-right">
            <a class="btn btn-primary" href="{{ path('users_vetrine_list')}}">
		<span class="btn-label">
            <i class="material-icons">keyboard_arrow_left</i>
        </span>Retourner à la liste
             </a>
        </div>
    </div>
    <div class="row">
    	{{ form_errors(formCreateUser) }}
    </div>
   
    <div class="card">
        {{form_start(formCreateUser,{'attr':{'class':'form-horizontal'}}) }}
        <div class="card-header card-header-text" data-background-color="blue">
            <h4 class="card-title">Nouveau Vetrine</h4>
        </div>
        
                                          
        <div class="card-content">
             <div class="row">
               
                <div class="col-sm-12">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label"></label>
                        {{form_widget(formCreateUser.namevetrine)}}        
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:5px;margin-bottom:5px;">
                <div class="col-sm-12"> 
                    <div class="form-group  is-empty">
                      <img id="img-preview" style="width:160px; height:100px;background:url('/plugins/front/img/no-picture.png') center no-repeat;" >
                        <label style="color:white;" class="btn  btn-info control-label"> LOGO VETRINE </label>  
                        {{form_widget(formCreateUser.imageFile)}}   
                          
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="col-sm-12">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label"></label>
                         {{form_widget(formCreateUser.firstName)}}       
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="col-sm-12">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label"></label>
                         {{form_widget(formCreateUser.phone)}}       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group label-floating is-empty">
                         {{form_widget(formCreateUser.email)}}       
                    </div>
                </div>
            </div>

             <div class="row">
                <div class="col-sm-12">
                    <div class="form-group label-floating is-empty">
                         {{form_widget(formCreateUser.adresse)}}       
                    </div>
                </div>
            </div>

             <div class="row">
                <div class="col-sm-12">
                    <div class="form-group label-floating is-empty">
                         {{form_widget(formCreateUser.description)}}       
                    </div>
                </div>
            </div>
           
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label"></label>
                       {{form_widget(formCreateUser.plainPassword.first)}}
                    </div>
                </div>
            </div>
               <div class="row">
                <div class="col-sm-12">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label"></label>
                       {{form_widget(formCreateUser.plainPassword.second)}}
                    </div>
                </div>
               </div>
         
             <div class="row">
                <div class="col-sm-12">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label"></label>
                       {{form_widget(formCreateUser.solde)}}
                    </div>
                </div>
            </div>
               <div class="row">
                <div class="col-sm-12">
                    <div class="form-group label-floating is-empty">
                        <div class="checkbox">
                         <label>
                            Activer
                            {{form_widget(formCreateUser.enabled)}}
                          </label>
                        </div>
                    </div>
                </div>
              </div>
               <div class="row">
                <div class="col-sm-12">
                    <div class="form-group label-floating is-empty">
                        <br/>
                        <label class="text-primary">Duree de validiter</label><br/>
                         {{form_widget(formCreateUser.dateexpiration)}}       
                    </div>
                </div>
            </div>
           
             
         
        </div>
        <div class="card-footer text-center">
                <button type="submit" class="btn btn-success btn-fill">
                	<span class="btn-label">
                         <i class="material-icons">check</i>
                    </span>Ajouter
                </button>
         </div>
         
        {{form_end(formCreateUser,{'render_rest': false})}}
    </div>
</div>

    <script type="text/javascript">
        $(document).ready(function(){
            function readURL(input) {

              if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                  $('#img-preview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
              }
            }
            $('#appbundle_user_imageFile').on('change',function(evt){
                    readURL(this);
            });
        });

    </script>
{% endblock %}