{% extends 'layoutAdmin.html.twig'%}
{% block title %}77Maroc-List{% endblock %}
 {% block content %}

<div class="row">
    <div class="col-md-12">
       
        <div class="row">
            {% include 'FlashMessages/FlashMessages.html.twig'%}
        </div>
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="purple">
                <i class="material-icons">assignment</i>
            </div>
            <div class="card-content">
                <h4 class="card-title">Liste Des Vetrines expirer</h4>
                <div class="material-datatables">
                    <table id="table-users" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                        <thead>
                            <tr>
                                <th class="text-center">Email Vetrine</th>
                                <th class="text-center">Phone</th>
                                <th class="text-center">Solde</th>
                                <th class="text-center">Slug</th>
                                <th class="text-center">Date expiration</th>
                                <th class="disabled-sorting text-center">Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr class="text-center">
                                <th class="text-center">Email Vetrine</th>
                                <th class="text-center">Phone</th>
                                <th class="text-center">Solde</th>
                                <th class="text-center">Slug</th>
                                <th class="text-center">Date expiration</th>
                                <th class="disabled-sorting text-center">Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for user in users %}
                            <tr class="text-center" id="{{user.id}}">
                                <td>{{user.email}}</td>
                                <td>{{user.phone}}</td>
                                <td><span id="row-solde-{{user.id}}"> {% if user.solde is null %}0{% else %}{{user.solde}}{% endif %} DH</span></td>
                                <td>{{user.slug}}</td>
                                <td>{{user.dateexpiration|date('Y-m-d')}}</td>
                                
                         
                                <td class="text-center">
                                    <a data-target="#modal-{{user.id}}" data-toggle="modal" class="btn btn-simple btn-warning btn-icon edit"><i class="material-icons">mode_edit</i></a>

                                    <a href="{{path('users_vetrine_delete',{'id':user.id})}}" class="btn btn-simple btn-danger btn-icon remove" ><i class="material-icons">close</i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end content-->
        </div>
        <!--  end card  -->
    </div>
    <!-- end col-md-12 -->
</div>
 {% for user in users %}
 <div class="modal fade" id="modal-{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-small ">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h5>Vous voulez varimant activer vetrine <span class="text-primary">{{user.slug}}</span>  ?</h5>
            </div>
            <form action="{{ path('users_vetrine_activer',{'id':user.id})}}" method="POST">
            <div class="modal-body">
                <div class="form-group">
                    <label> Duree de validiter</label>
                    <select class="form-control" name="duree_validiter"> 
                        <option value="90">90</option>
                        <option value="120">120</option>
                        <option value="270">270</option>
                        <option value="365">365</option>
                    </select>

                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-simple" data-dismiss="modal">Non</button>
                <button type="submit"  class="btn btn-success btn-simple ">Confirmer</button>
            </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}