{% extends '::Default/Spaces/Normal/NormalLyout.html.twig' %}


                {% block normal_holder %}
    

						 <div class="espace-content">

								    		{{form_start(form,{'attr':{'class':'form-horizontal'}}) }}


									 <div class="form-row">
									    <div class="form-group">
									        {{ form_widget(form) }} 
									    </div>
									    
									  </div>
									    
           							 
										 <div class="form-row">
								               <div class="form-group">
													<button type="submit" class="btn btn-primary  btn-lg login-button center-block" style="width: 50%;">{{ 'espaces.form.submit'|trans }}</button>
												</div>
										 </div>
		                       
		                        
		                	 {{ form_row(form._token) }}
		                     {{ form_end(form, {'render_rest': false}) }}

					</div>

                
                          

                {% endblock %}