{% extends '::Default/Spaces/Normal/NormalLyout.html.twig' %}

{% block normal_holder %}
     
<section class="content-center ">
      
 <section id="listingAds" class="grid-3-1">
   
        <section class="list mainList tabs" style="width: 100%;">
            
            
            <section class="tabsContent block-white dontSwitch">
            
                 <ul>
	                    <div> 
	                     {% if ads|length == 0 %}
				                     <h1 class="display-4 text-center">{{ 'annonces.aucune_annonce_trouve'|trans }}</h1>
				                {% endif %}
	                     {% for ad in ads %}

	                    <li>
                         {% set ville = (ad.villename is not empty) ? ad.villename : "ville"  %}
	                        <a style ="position:relative;" data-adid="{{ ad.id }}" href="{{ path('detail_ad',{'ville':ville,'category':ad.category,'slug':ad.slug})}}" class="list_item clearfix trackable">
	                         
							   
							    <div class="item_image">
	                                

	                                <span class="item_imagePic" style="background:url('{{ asset('plugins/front/img/no-picture.png') }}') center no-repeat;">
	                                           </span>
	                            </div>
                                {% if app.user %}
                                  <div title="" class="saveAd">
                                      <div class="saveMsg"><i class="fa fa-heart" aria-hidden="true"></i></div> 
                                  </div>
                                {% endif %}
	                            <section class="item_infos">
	                                <h2 class="item_title" itemprop="name">{{ ad.id }} ---- {{ ad.title }}</h2>
	                                <p class="item_supp" itemprop="category">
	                                    {{ ad.title }}
	                                </p>
	                                <p class="item_supp">
	                                    {{ 'espaces.list_annonce.categorie'|trans }} : {{ ad.category }}
	                                   
	                                </p>
	                                
	                          
	                                    <p class="item_supp" itemprop="availabilityStarts" content="2018-02-25">
	                                        <span class="text-primary">{{ad.createdAt|date('Y-m-d H:i:s')}}</span>
	                                    </p>
	                                    
 
	                          

	                            </section>
	                        </a>
	                    </li>
	                    {% endfor %}
	                </div>
                </ul>
            </section>
            <footer class="pagination clearfix">
                {{ knp_pagination_render(ads) }}
            </footer>
        </section>
 
       
        
    </section>
</section>
{% block specifics_javascripts %}
<script>
var favadcount = $('a.list_item').length;
 $(".saveMsg").unbind().on('click',function(){
      
         $(this).parents('a').on('click',function(e){
           return false;
         });
          favadcount--;
          $(this).parents('a').hide(800, function(){ $(this).parents('a').remove(); });
          console.log();
          if(favadcount < 3){
                location.reload();
          }
          var adid = $(this).parents('a').attr('data-adid');
          $.ajax({
               url:Routing.generate('favad_index',{id : adid}),
               type:'POST',
               success: function(res){
                 
                console.log("done");
               }
         });
           

    });

</script>

{% endblock %}
{% endblock %}