{% extends '::Default/Spaces/Normal/NormalLyout.html.twig' %}



{% block normal_holder %}
     
<section class="content-center espace-content">
     
 <div class="list-group inbox-list">
 <button class="delete-multiple btn btn-warning" style="position: absolute;top: -4px;"> {{ 'espaces.inbox.remove_selected'|trans }} - <i class="fa fa-trash" aria-hidden="true"></i></button>
 <label class="checklabel" > {{ 'espaces.inbox.select_all'|trans }}  <input class="delete-checkall" style="margin:0" type="checkbox" /> </label>
 	
   {% for inb in inbox %}
              <div class="inbox-single" style="position: relative;">
                <a data-reader="{{ (inb.readedAt is null) ? 'no' : 'yes' }}" data-subject="<span class='msg-body-attr'> {{ 'espaces.inbox.body.subject'|trans }} </span> : {{ inb.subject }}" data-email="{{ (inb.type == constant('AppBundle\\Entity\\Inbox::ANNONYME')) ? "<span class='msg-body-attr'> #{ 'espaces.inbox.body.email'|trans } </span> :  #{inb.phone}" : '' }}" data-phone=" {{ (inb.type == constant('AppBundle\\Entity\\Inbox::ANNONYME')) ? " <span class='msg-body-attr'>  #{ 'espaces.inbox.body.phone'|trans } </span> :  #{inb.phone}" : '' }} "  data-body="{{ inb.text }}" data-id="{{ inb.id }}" class="list-group-item list-group-item-action flex-column align-items-start show-message-content">
				        <div class="d-flex w-100 justify-content-between">
				      <h5 class="mb-1">{{ inb.subject }}</h5>
				      <small class="small-date">{{ inb.createdAt|date('Y-m-d h:m') }}</small>
				    </div>
				     
            {% if inb.readedAt is not null  %}
                      <i class="message-is-readed fa fa-check-circle-o" aria-hidden="true" ></i>
            {% endif %}
            
           
				 </a>
         <input type="checkbox" class="check-to-delete">
        </div>
 	{% endfor %}



</div>

 

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" style="margin-top:5%;" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title mosubject" id="exampleModalLongTitle"></h5>
        <h5 class="modal-title moemail" id="exampleModalLongTitle"></h5>
        <h5 class="modal-title mophone" id="exampleModalLongTitle"></h5>
        
      </div>
      <div class="modal-body">
        Content message
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'annonces_detail.contact_user.close'|trans }}</button>
      </div>
    </div>
  </div>
</div>
{{ knp_pagination_render(inbox) }}
</section>
    
    {% block specifics_javascripts %}
        <script type="text/javascript">
              var fromcheckbox = false;
              $(document).ready(function(){

                        $('.delete-checkall').click(function(){

              
              $('.inbox-list .check-to-delete').not(this).prop('checked', this.checked);

              });
                
                    /*   $('.show-message-content').click(function(){

					            $('#exampleModalLong').find('.modal-body').html($(this).attr('data-body'));
                      $('#exampleModalLong').find('.mosubject').text($(this).attr('data-subject'));
                      $('#exampleModalLong').find('.moemail').text($(this).attr('data-email'));
                      $('#exampleModalLong').find('.mophone').text($(this).attr('data-phone'));

					     });*/

$('.inbox-list .delete-multiple').unbind().click(function(){
      var ids = [];
 
      $('.check-to-delete').each(function () {
          if(this.checked){
            ids.push($(this).parent('div').find('.show-message-content').attr('data-id'));
          }
      });
       if(ids.length == 0){
             alert("select message");
             return false;
      }
      $(this).append(`<div class="loader-delete"></div>`);
        $.ajax({
                                                        url:Routing.generate('delete_multiple_message'),
                                                        type:'POST',
                                                        data: {"ids": ids},
                                                        async: true,
                                                        success: function(res){
                                                              
                                                           
                                                              window.location.reload(false); 
                                                              currentElement.find('.loader-delete').fadeOut(300, function(){ $(this).remove();});
                                                        }
                                                });
      });
                $('.inbox-list a').unbind().click(function(){

                  if(fromcheckbox == false){
                              var msgnumber = $('.label-number-message').text();
                              
                              var currentElement = $(this);
                              if(msgnumber > 0 && $(this).attr('data-reader') == 'no'){
                                $(this).append(`<div class="loader"></div>`);
                                              $.ajax({
                                                  url:Routing.generate('normal_read_message',{in : $(this).attr('data-id')}),
                                                  type:'POST',
                                                  async: true,
                                                  success: function(res){
                                                        
                                                        currentElement.attr('data-reader','yes');
                                                        currentElement.find('.loader').fadeOut(300, function(){ $(this).remove();});
                                                        //currentElement.append(`<i class="message-is-readed fa fa-check-circle-o" aria-hidden="true"></i>`);
                                                        $('<i class="message-is-readed fa fa-check-circle-o" aria-hidden="true"></i>').hide().appendTo(currentElement).fadeIn(300);
                                                        $('.label-number-message').text(msgnumber - 1);
                                                        $('.msgnotif').text(msgnumber - 1);
                                                        if($('.msgnotif').text() == 0){
                                                             $('.msgnotif').remove();
                                                        }

                                                          $('#exampleModalLong').find('.modal-body').html(currentElement.attr('data-body'));
                                                          $('#exampleModalLong').find('.mosubject').html(currentElement.attr('data-subject'));
                                                          $('#exampleModalLong').find('.moemail').html(currentElement.attr('data-email'));
                                                          $('#exampleModalLong').find('.mophone').html(currentElement.attr('data-phone'));
                                                          $('#exampleModalLong').modal('toggle');
                                                  }
                                          });

                              }else{
                                                          $('#exampleModalLong').find('.modal-body').html(currentElement.attr('data-body'));
                                                          $('#exampleModalLong').find('.mosubject').html(currentElement.attr('data-subject'));
                                                          $('#exampleModalLong').find('.moemail').html(currentElement.attr('data-email'));
                                                          $('#exampleModalLong').find('.mophone').html(currentElement.attr('data-phone'));
                                                          $('#exampleModalLong').modal('toggle');
                              }
                  }
              

                
          });

              });

        </script>
    {% endblock %}     


{% endblock %}