{% extends 'layoutAdmin.html.twig'%}

{% block content %}
   <div class="row">
         <div class="col-md-12">
            <div class="row"> {% include 'FlashMessages/FlashMessages.html.twig'%} </div>
                        
                
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="purple">
                                    <i class="material-icons">assignment</i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">Liste des Transaction</h4>
                                  
                                   <div class="material-datatables">
                                        <table id="table-Pack" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                            <thead>
                                                <tr >
                                                     <th class="text-center">ID</th>
                                                     <th class="text-center">Effectue par</th>
                                                     <th class="text-center">Type</th>
                                                     <th class="text-center">Payé par</th>
                                                     <th class="text-center">Montant</th>
                                                     <th class="text-center">Date</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr class="text-center">
                                                     <th class="text-center">ID</th>
                                                     <th class="text-center">Effectue par</th>
                                                     <th class="text-center">Type</th>
                                                     <th class="text-center">Payé par</th>
                                                     <th class="text-center">Montant</th>
                                                     <th class="text-center">Date</th>
                                                     
                                               </tr>
                                            </tfoot>
                                            <tbody>
                                                {% for tran in transactions %}
                                                    <tr class="text-center" >
                                                      <td>{{ tran.id }}</td>
                                                      <td>{{ tran.user.email }}</td>
                                                      <td>{{ tran.type }}</td>
                                                      <td>{{ tran.paymentby }}</td>
                                                      <td>{{ tran.total }}</td>
                                                      <td>{{ tran.createdAt|date("m/d/Y H:i:s") }}</td>
                                                     </td>
                                                       
                                                    </tr>
                                                {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- end content-->
                            </div>
                            <!--  end card  -->
                        </div>
                        <!-- end col-md-12 -->
                    </div>
 
{% endblock %}




