{% extends 'layoutFront.html.twig' %} 

    {% block block_no_filter %}

<section class="content-center buypack" style="margin-bottom: 36px;">


  <div class="row">
    	{% include 'FlashMessages/FlashMessages.html.twig'%}
  </div>
 
  <h3 style="display: inline-block;">{{ 'payment_page.message.recharge_acount'|trans }}</h3>
 
 
  <h3 class="total-price"> {{ 'espaces.votre_solde'|trans }} : {{ app.user.solde }},00 {{ 'global.devise'|trans }}</h3> 





                    
<form action="{{ path('recharge_account_choose_payment_methode_index') }}" method="POST">

<div id="PaymentSection" class="_bootstrap panel-body vas-elem flip-in-hor-bottom" style="padding-bottom: 0px; font-family: roboto;">
	<div class="jumbo-container payment-step-2" style="opacity: 1; padding: 10px;">
		<div class="section col-xs-12 col-md-12">
			<div class="heading">
				<h1 style="font-family: Roboto; font-size: 20px; font-weight: bold; margin: 0px;">2- Méthode de paiement</h1>
				<h6 class="helperText">Veuillez choisir votre méthode de paiement. Paiement sécurisé √</h6>
			</div>
			<div class="payment-methods row">
				<label class="payment-method col-xs-12 col-md-6" for="yyyy">
					<span class="method-title">Carte Bancaire</span>
					<div class="icon-container">
						<img src="{{ asset('plugins/front/img/payment_img.png')}}">
						</div>
						<div class="radio-container">
							<input checked id="yyyy" name="payment-type" type="radio" value="card" data-smartlook_2fecb6293ed16="false">Choisir
							</div>
						</label>
						<label class="payment-method col-xs-12 col-md-6" for="xxx">
							<span class="method-title">Ou appeller le Numero : 0677554433</span>
							<div class="icon-container">
								<img src="{{ asset('plugins/front/img/customer-service.png')}}">
							</div>
						</label>
							</div>
						</div>
					</div>
					<div class="jumbo-container" style="margin: 0px 15px; display: flex; flex-direction: row-reverse;">
					<input style="margin: auto;display: block;width: 140px;" id="nextchoosepay" type="submit" class="btn btn-success" value="Passé">
					</div>

</form>
</section>
 
 {% block specifics_javascripts %}

   
 


  {% endblock %}
{% endblock %}
   
  

 