{% set _routes = ['homepage', 'ads_page'] %}
 <section id="searchbox"  style="padding:20px;height: 100%;text-align: center;font-weight: bold;font-size: 12px;" class="{{ app.request.attributes.get('_route') not in _routes ? 'hide-filter' : '' }} custom-small-hidden {{ (app.request.attributes.get('_route') == 'showroomads_index') ? 'hidecontent' : '' }}">

               <form class="form-horizontal" action="{{ path('filter_global_ad')}}" method="GET">
	               	 
	               	{% include 'Partials/categorieCritiriaOptionsFilter.html.twig'%}
	               	
	               	 <div class="row">
	               	 	<div class="col-lg-offset-9 col-lg-3 col-xs-12">
	               	 		<button style="    height: 54px; border-radius: 0px;line-height: 40px;" class="btn btn-info btn-block btn-md"><i class="fa fa-search fa-x" aria-hidden="true" style="color:#61304b;"></i>&nbsp;{{ 'filter.button'|trans }}</button>
	               	 	</div>
	               	 </div>	
	   		        
               </form>
</section>  
