{% set _routes = ['after_renew_index', 'thankyou_index','after_attractivead_index','showroomrequest_index'] %}
<footer id="footer" class="{{ app.request.attributes.get('_route') in _routes ? 'for-small-content' : '' }}" role="contentinfo">
 <div class="row">
              <div class="col-lg-8">
                <img src="{{asset('img/applic.png')}}">
              </div>
              <div class="col-lg-2">
                 <a href="https://www.apple.com/fr/ios/app-store/" target="_blank"> <img src="{{asset('img/store.png')}}"></a>

              </div>
              <div class="col-lg-2">
                  <a href="https://play.google.com/store" target="_blank"> <img src="{{asset('img/play.png')}}"></a>
              </div>
            </div>
<section class="footer_content " id="footer_content" style="background:#61304b ;color:white;padding-bottom:0px;">
    <div class="container">
      <div class="row hidden-xs hidden-sm">
      <div class="col-lg-12">
        <ul class="list-inline">
        
          <li> <a href="{{path('page_aide')}}">{{ 'footer.page.aide'|trans }}</a></li>
          <li> <a href="{{path('page_achat_securise')}}">{{ 'footer.page.achat'|trans }}</a></li>
          <li>  <a href="{{path('page_reglement')}}">{{ 'footer.page.reglement'|trans }}</a></li>
          <li> <a href="{{path('page_publicite')}}">{{ 'footer.page.pub'|trans }}</a></li>
          <li> <a href="{{path('page_qui_nous_somme')}}">{{ 'footer.page.qui_somme'|trans }}</a></li>
          <li> <a href="{{path('contact_us_render')}}">{{ 'footer.page.contact'|trans }}</a></li>
          
        </ul>
      </div>
   

    </div>
    <div class="row">
      <div class="col-lg-11 text-center">
        <p class="text-lead"> <strong>{{ 'footer.copyright'|trans }}</strong></p>
      </div>
       <div class="col-lg-1 text-right">
        <ul class="list-inline">
          <li> <a href="#"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a></li>
        </ul>
      </div>
              
     </div>

       
</section>
</footer>
