<div class="region-ville-secteur">

<div class="form-group col-lg-12" style="margin-bottom:10px; margin-left:19%; ">
    <label class="col-sm-3 text-primary" for="region"><strong>{{'region'|trans}} :*</strong></label>
 <div class="col-sm-4 ">
      <select class="form-control region" name="region" required>
            <option>{{ 'region'|trans }}</option>
            <option value="tanger_tétouan"> {{'tanger_tétouan'|trans}} </option>
            <option value="loriental"> {{'loriental'|trans}} </option>
            <option value="fès_meknès"> {{'fès_meknès'|trans}} </option>
            <option value="rabat_salé"> {{'rabat_salé'|trans}} </option>
            <option value="béni_mellal"> {{'béni_mellal'|trans}} </option>
            <option value="casablanca_settat"> {{'casablanca_settat'|trans}} </option>
            <option value="marrakech_safi"> {{'marrakech_safi'|trans}} </option>
            <option value="drâa_tafilalet"> {{'drâa_tafilalet'|trans}} </option>
            <option value="souss_massa"> {{'souss_massa'|trans}} </option>
            <option value="guelmim_oued"> {{'guelmim_oued'|trans}} </option>
            <option value="laâyoune_sakia"> {{'laâyoune_sakia'|trans}} </option>
            <option value="dakhla_oued"> {{'dakhla_oued'|trans}} </option>

      </select>
    </div>
      <div class="help-block with-errors"></div>
</div>
<div class="form-group col-lg-12" style="margin-bottom:10px; margin-left:19%; ">
   <label class="col-sm-3 text-primary" for="ville"><strong>{{'ville'|trans}} :*</strong></label>
  
    <div class="col-sm-4 ">


      <select class="form-control ville" name="ville" required>
                <option>{{ 'ville'|trans }}</option>
                <option style="display:none;" class="tanger_tétouan" value="tanger_assilah"> {{'tanger_assilah'|trans}} </option> 
                <option style="display:none;" class="tanger_tétouan" value="mdiq_fnideq"> {{'mdiq_fnideq'|trans}} </option>
                <option style="display:none;" class="tanger_tétouan" value="tétouan"> {{'tétouan'|trans}} </option>
                <option style="display:none;" class="tanger_tétouan" value="fahs_anjra"> {{'fahs_anjra'|trans}} </option>
                <option style="display:none;" class="tanger_tétouan" value="larache"> {{'larache'|trans}} </option>
                <option style="display:none;" class="tanger_tétouan" value="al_hoceïma"> {{'al_hoceïma'|trans}} </option>
                <option style="display:none;" class="tanger_tétouan" value="chefchaouen"> {{'chefchaouen'|trans}} </option>
                <option style="display:none;" class="tanger_tétouan" value="ouezzane"> {{'ouezzane'|trans}} </option>
               
                <option style="display:none;" class="loriental" value="oujda_angad"> {{'oujda_angad'|trans}} </option>
                <option style="display:none;" class="loriental" value="nador"> {{'nador'|trans}} </option>
                <option style="display:none;" class="loriental" value="driouch"> {{'driouch'|trans}} </option>
                <option style="display:none;" class="loriental" value="jerada"> {{'jerada'|trans}} </option>
                <option style="display:none;" class="loriental" value="berkane"> {{'berkane'|trans}} </option>
                <option style="display:none;" class="loriental" value="taourirt"> {{'taourirt'|trans}} </option>
                <option style="display:none;" class="loriental" value="guercif"> {{'guercif'|trans}} </option>
                <option style="display:none;" class="loriental" value="figuig"> {{'figuig'|trans}} </option>

                <option style="display:none;" class="fès_meknès" value="fès"> {{'fès'|trans}} </option>
                <option style="display:none;" class="fès_meknès" value="meknès"> {{'meknès'|trans}} </option>
                <option style="display:none;" class="fès_meknès" value="taza"> {{'taza'|trans}} </option>
                <option style="display:none;" class="fès_meknès" value="el_hajeb"> {{'el_hajeb'|trans}} </option>
                <option style="display:none;" class="fès_meknès" value="ifrane"> {{'ifrane'|trans}} </option>
                <option style="display:none;" class="fès_meknès" value="moulay_yaâcoub"> {{'moulay_yaâcoub'|trans}} </option>
                <option style="display:none;" class="fès_meknès" value="séfrou"> {{'séfrou'|trans}} </option>
                <option style="display:none;" class="fès_meknès" value="boulemane"> {{'boulemane'|trans}} </option>
                <option style="display:none;" class="fès_meknès" value="taounate"> {{'taounate'|trans}} </option>              

                <option style="display:none;" class="rabat_salé" value="rabat"> {{'rabat'|trans}} </option>
                <option style="display:none;" class="rabat_salé" value="salé"> {{'salé'|trans}} </option>
                <option style="display:none;" class="rabat_salé" value="skhirate_témara"> {{'skhirate_témara'|trans}} </option>
                <option style="display:none;" class="rabat_salé" value="kénitra"> {{'kénitra'|trans}} </option>
                <option style="display:none;" class="rabat_salé" value="khémisset"> {{'khémisset'|trans}} </option>
                <option style="display:none;" class="rabat_salé" value="sidi_kacem"> {{'sidi_kacem'|trans}} </option>
                <option style="display:none;" class="rabat_salé" value="sidi_slimane"> {{'sidi_slimane'|trans}} </option>

                <option style="display:none;" class="béni_mellal" value="béni_mellal"> {{'béni_mellal'|trans}} </option>
                <option style="display:none;" class="béni_mellal" value="azilal"> {{'azilal'|trans}} </option>
                <option style="display:none;" class="béni_mellal" value="fquih_ben_salah"> {{'fquih_ben_salah'|trans}} </option>
                <option style="display:none;" class="béni_mellal" value="khénifra"> {{'khénifra'|trans}} </option>
                <option style="display:none;" class="béni_mellal" value="khouribga"> {{'khouribga'|trans}} </option>

                <option style="display:none;" class="casablanca_settat" value="casablanca"> {{'casablanca'|trans}} </option>
                <option style="display:none;" class="casablanca_settat" value="mohammédia"> {{'mohammédia'|trans}} </option>
                <option style="display:none;" class="casablanca_settat" value="el_jadida"> {{'el_jadida'|trans}} </option>
                <option style="display:none;" class="casablanca_settat" value="nouaceur"> {{'nouaceur'|trans}} </option>
                <option style="display:none;" class="casablanca_settat" value="médiouna"> {{'médiouna'|trans}} </option>
                <option style="display:none;" class="casablanca_settat" value="benslimane"> {{'benslimane'|trans}} </option>
                <option style="display:none;" class="casablanca_settat" value="berrechid"> {{'berrechid'|trans}} </option>
                <option style="display:none;" class="casablanca_settat" value="settat"> {{'settat'|trans}} </option>
                <option style="display:none;" class="casablanca_settat" value="sidi_bennour"> {{'sidi_bennour'|trans}} </option>

                <option style="display:none;" class="marrakech_safi" value="marrakech"> {{'marrakech'|trans}} </option>
                <option style="display:none;" class="marrakech_safi" value="chichaoua"> {{'chichaoua'|trans}} </option>
                <option style="display:none;" class="marrakech_safi" value="al_haouz"> {{'al_haouz'|trans}} </option>
                <option style="display:none;" class="marrakech_safi" value="el_kelaâ_des_sraghna"> {{'el_kelaâ_des_sraghna'|trans}} </option>
                <option style="display:none;" class="marrakech_safi" value="essaouira"> {{'essaouira'|trans}} </option>
                <option style="display:none;" class="marrakech_safi" value="rehamna"> {{'rehamna'|trans}} </option>
                <option style="display:none;" class="marrakech_safi" value="safi"> {{'safi'|trans}} </option>
                <option style="display:none;" class="marrakech_safi" value="youssoufia"> {{'youssoufia'|trans}} </option>

                <option style="display:none;" class="drâa_tafilalet" value="errachidia"> {{'errachidia'|trans}} </option>
                <option style="display:none;" class="drâa_tafilalet" value="ouarzazate"> {{'ouarzazate'|trans}} </option>
                <option style="display:none;" class="drâa_tafilalet" value="midelt"> {{'midelt'|trans}} </option>
                <option style="display:none;" class="drâa_tafilalet" value="tinghir"> {{'tinghir'|trans}} </option>
                <option style="display:none;" class="drâa_tafilalet" value="zagora"> {{'zagora'|trans}} </option>

                <option style="display:none;" class="souss_massa" value="agadir_ida_outanane"> {{'agadir_ida_outanane'|trans}} </option>
                <option style="display:none;" class="souss_massa" value="inezgane_aït_melloul"> {{'inezgane_aït_melloul'|trans}} </option>
                <option style="display:none;" class="souss_massa" value="chtouka_aït_baha"> {{'chtouka_aït_baha'|trans}} </option>
                <option style="display:none;" class="souss_massa" value="taroudant"> {{'taroudant'|trans}} </option>
                <option style="display:none;" class="souss_massa" value="tiznit"> {{'tiznit'|trans}} </option>
                <option style="display:none;" class="souss_massa" value="tata"> {{'tata'|trans}} </option>

                <option style="display:none;" class="guelmim_oued" value="guelmim"> {{'guelmim'|trans}} </option>
                <option style="display:none;" class="guelmim_oued" value="assa_zag"> {{'assa_zag'|trans}} </option>
                <option style="display:none;" class="guelmim_oued" value="tan_tan"> {{'tan_tan'|trans}} </option>
                <option style="display:none;" class="guelmim_oued" value="sidi_ifni"> {{'sidi_ifni'|trans}} </option>

                <option style="display:none;" class="laâyoune_sakia" value="laâyoune"> {{'laâyoune'|trans}} </option>
                <option style="display:none;" class="laâyoune_sakia" value="boujdour"> {{'boujdour'|trans}} </option>
                <option style="display:none;" class="laâyoune_sakia" value="tarfaya"> {{'tarfaya'|trans}} </option>
                <option style="display:none;" class="laâyoune_sakia" value="es_semara"> {{'es_semara'|trans}} </option>

                <option style="display:none;" class="dakhla_oued" value="oued_ed_dahab"> {{'oued_ed_dahab'|trans}} </option>
                <option style="display:none;" class="dakhla_oued" value="aousserd"> {{'aousserd'|trans}} </option>


        </select>
      </div>
      <div class="help-block with-errors"></div>
</div>
<div class="form-group col-lg-12 quartier-hide" style="margin-bottom:10px;margin-left:19%; display:none;">
    <label class="col-sm-3 text-primary" for="Quartier"><strong>{{'secteur'|trans}} :*</strong></label>
     <div class="col-sm-4 ">
      <select class="form-control quartier" name="quartier" disabled="disabled">
                <option>{{ 'secteur'|trans }}</option>

                <option style="display:none;" class="tanger_assilah" value="sercteurtanger1"> {{'sercteurtanger1'|trans}} </option>
                <option style="display:none;" class="tanger_assilah" value="sercteurtanger2"> {{'sercteurtanger2'|trans}} </option>
                <option style="display:none;" class="tanger_assilah" value="sercteurtanger3"> {{'sercteurtanger3'|trans}} </option>
                <option style="display:none;" class="tanger_assilah" value="sercteurtanger4"> {{'sercteurtanger4'|trans}} </option>

                <option style="display:none;" class="tétouan" value="sercteurtetouan1"> {{'sercteurtetouan1'|trans}} </option>
                <option style="display:none;" class="tétouan" value="sercteurtetouan2"> {{'sercteurtetouan2'|trans}} </option>
                <option style="display:none;" class="tétouan" value="sercteurtetouan3"> {{'sercteurtetouan3'|trans}} </option>
                <option style="display:none;" class="tétouan" value="sercteurtetouan4"> {{'sercteurtetouan4'|trans}} </option>

      </select>
    </div>
      <div class="help-block with-errors"></div>
</div>

</div>

