{% extends 'layoutFront.html.twig' %}

{% block title %}77maroc-contactez-nous{% endblock %}

{% block block_no_filter %}
<div class="container" style="margin-top:4%;">
		<div class="row">
    	{% include 'FlashMessages/FlashMessages.html.twig'%}
	</div>
	<div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 ">
        <div class="well well-sm">
          <form class="form-horizontal" action="{{ path('contact_us')}}" method="POST">
          <fieldset>
            <legend class="text-center text-primary"><i class="fa fa-inbox" aria-hidden="true"></i>&nbsp;&nbsp;Contactez nous</legend>
            <p class="lead" style="font-size:14px;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua</p>
    
            <div class="form-group">
              <label class="col-md-3 control-label text-primary" for="name">Nom *</label>
              <div class="col-md-9">
                <input id="name" name="name" type="text" placeholder="votre nom complet" class="form-control" required>
              </div>
            </div>
    
            <!-- Email input-->
            <div class="form-group">
              <label class="col-md-3 control-label text-primary" for="email">E-mail *</label>
              <div class="col-md-9">
                <input id="email" name="email" type="email" placeholder="votre email" class="form-control" required>
              </div>
            </div>
    
            <div class="form-group">
              <label class="col-md-3 control-label text-primary" for="message">Message *</label>
              <div class="col-md-9">
                <textarea class="form-control" id="message" name="message" placeholder="Entrez votre message ici ..." rows="5" required></textarea>
              </div>
            </div>
    
            <div class="form-group">
              <div class="col-md-12 ">
                <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;Envoyer</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
	</div>
</div>

                
   
{% endblock %}
        