   <div class="jumbotron col-sm-4 col-xs-12 col-sm-12  top-space-action">
							<h2 class="">{{ 'espaces.expiration_date'|trans }} : <p class="d-inline lead font-weight-bold">{{ expirationdata|date('Y-m-d') }}</p></h2>
	</div>