{% extends '::Default/Spaces/Showroom/ShowroomLyout.html.twig' %}


                {% block normal_holder %}
	      <div class="row">
	        {% include 'FlashMessages/FlashMessages.html.twig'%}
	       </div>
						    <div class="espace-content">

								    		{{form_start(form,{'attr':{'class':'form-horizontal'}}) }}

								    		
									  <div class="form-row">
           										
	           							 
									      <div class="form-group col-md-6">
										  	 
	    											  <label for="inputAddress">{{ 'espaces.form.showroomname'|trans }}</label>
										             {{form_widget(form.namevetrine, { 'attr': {'class' : "form-control",'placeholder' : 'espaces.form.showroomname'|trans} })}} 
									      </div>
										   <div class="form-group col-md-6">
										  	 
	    											  <label for="inputAddress">{{ 'espaces.form.email'|trans }}</label>
										             {{form_widget(form.email, { 'attr': {'class' : "form-control",'placeholder' : 'espaces.form.email'|trans} })}} 
										  	  
									      </div>
									 
									  </div>

									  <div class="form-row">
           										
	           							 
									      <div class="form-group col-md-6">
										  	 
	    											  <label for="inputAddress">{{ 'espaces.form.phone'|trans }}</label>
										             {{form_widget(form.phone, { 'attr': {'class' : "form-control",'placeholder' : 'espaces.form.phone'|trans} })}} 
									      </div>
										   <div class="form-group col-md-6">
										  	 
	    											  <label for="inputAddress">{{ 'espaces.form.adresse'|trans }}</label>
										             {{form_widget(form.adresse, { 'attr': {'class' : "form-control",'placeholder' : 'espaces.form.adresse'|trans} })}} 
										  	  
									      </div>
									 
									  </div>

									  
									   <div class="form-row">
           										
	           								<div class="form-group col-md-6">
												   
												  	 	<label for="inputAddress">{{ 'espaces.form.desc'|trans }}</label>
												        {{form_widget(form.description, { 'attr': {'class' : "form-control",'placeholder' : 'espaces.form.desc'|trans} })}} 
												   
										  </div>
									     
										   <div class="form-group col-md-6"> 
	    											  <label for="inputAddress">{{ 'espaces.form.logo'|trans }}</label>
									 				 <img style="width:160px; height:100px;" id="img-preview" src="{{ vich_uploader_asset(user, 'imageFile') |imagine_filter('vetrine_logo') }}" >
									 				 	<br>
										             {{form_widget(form.imageFile, { 'attr': {'class' : "form-control",'placeholder' : 'espaces.form.logo'|trans} })}} 
									      </div>
									 
									  </div>
										 <div class="form-row col-md-12">
								               <div class="form-group">
													<button type="submit" class="btn btn-primary  btn-lg login-button center-block" style="width: 50%;">{{ 'espaces.form.submit'|trans }}</button>
												</div>
										 </div>
										 

		                       
		                        
		                	 {{ form_row(form._token) }}
		                     {{ form_end(form, {'render_rest': false}) }}

						    </div>

                
                            <script type="text/javascript">
	                		$(document).ready(function(){
	                			function readURL(input) {

								  if (input.files && input.files[0]) {
								    var reader = new FileReader();

								    reader.onload = function(e) {
								      $('#img-preview').attr('src', e.target.result);
								    }

								    reader.readAsDataURL(input.files[0]);
								  }
								}
	                			$('#appbundle_user_imageFile').on('change',function(evt){
	                					readURL(this);
	                			});
	                		});

                </script>

                {% endblock %}


