{% extends '::Default/Spaces/Showroom/ShowroomLyout.html.twig' %}

{% block normal_holder %}
     
<section class="content-center ">
      {% if type=="actives" %}
       
  			  <h3>{{ numberofads }}/{{ numberOfAdsAllowed }} {{ 'espaces.list_annonce.active'|trans }}</h3>      
  	  
      {% endif %}
 <section id="listingAds" class="grid-3-1">
   
        <section class="list mainList tabs" style="width: 100%;">
            
            
            <section class="tabsContent block-white dontSwitch">
            
                <ul>
	                    <div> 
	                     {% if ads|length == 0 %}
				                     <h1 class="display-4 text-center">{{ 'annonces.aucune_annonce_trouve'|trans }}</h1>
				        {% endif %}
	                     {% for ad in ads %}

	                    <li>
						 {% set ville = (ad.villename is not empty) ? ad.villename : "ville"  %}
	                        <a style ="position:relative;" href="{{ path('detail_ad',{'ville':ville,'category':ad.category,'slug':ad.slug})}}" class="list_item clearfix trackable {{ (ad.attractive) ? 'attractive' : '' }}">
	                         
							  <i class="ads-status {{ app.request.get('type') }} fa fa-dot-circle-o" aria-hidden="true"></i>
							    <div class="item_image">
	                                

	                                <span class="item_imagePic" style="background:url('{{ asset('plugins/front/img/no-picture.png') }}') center no-repeat;">
	                                           </span>
	                            </div>
	                            <section class="item_infos">
	                                <h2 class="item_title" itemprop="name">{{ ad.id }} ---- {{ ad.title }}</h2>
	                                <p class="item_supp" itemprop="category" content="Mat&eacute;riel Agricole">
	                                    {{ ad.title }}
	                                </p>
	                                <p class="item_supp">
	                                    {{ 'espaces.list_annonce.categorie'|trans }} : {{ ad.category }}
	                                   
	                                </p>
	                                <meta itemprop="priceCurrency" content="EUR" />
	                          
	                                    <p class="item_supp" itemprop="availabilityStarts" content="2018-02-25">
	                                        <span class="text-primary">{{ad.createdAt|date('Y-m-d H:i:s')}}</span>
	                                    </p>
										 {# onclick="window.location.href='{{ path('show_disable_ad',{ 'id': ad.id }) }}'" #}
	                                     
										
										{% if type=="actives" %} 
	                                        		 <button data-title="{{ 'espaces.confirm_enable_disable.disable_toptitle'|trans }}" data-content="{{ 'espaces.confirm_enable_disable.disable_content'|trans }}" data-btn="{{ 'espaces.confirm_enable_disable.btndisable'|trans }}" data-url="{{ path('show_disable_ad',{ 'id': ad.id }) }}" class="btn btn-primary btn-rounded btn-sm my-0 btn-disable">{{ 'espaces.list_annonce.desactive'|trans }}</button>
	                                        		 
                                        {% endif %}
										{# onclick="window.location.href='{{ path('show_enable_ad',{ 'id': ad.id }) }}'" #}
										{% if type=="inactives" %}       
	                                        		 <button data-title="{{ 'espaces.confirm_enable_disable.enable_toptitle'|trans }}" data-content="{{ 'espaces.confirm_enable_disable.enable_content'|trans }}" data-btn="{{ 'espaces.confirm_enable_disable.btnenable'|trans }}" data-url="{{ path('show_disable_ad',{ 'id': ad.id }) }}" class="btn btn-primary btn-rounded btn-sm my-0 btn-disable">{{ 'espaces.list_annonce.activer'|trans }}</button>
                                        {% endif %}
										{% if type=="actives" or type=="inactives" %} 
	                                        		<button click="" class="btn btn-success  btn-sm adedit"
	                                        		  onclick="location.href = '{{ path('edit_ad_espace',{'id':ad.id})}}';" >Modifier</button>

													{# cccccccc #}

													<button click="" class="btn btn-info  btn-sm adactions"
	                                        		  onclick="location.href = '{{ path("always_index",{'ad':ad.id}) }}';" >{{ 'espaces.actions.always_in_lead'|trans }} <i class="fa fa-level-up" aria-hidden="true"></i></button>

													  <button click="" class="btn btn-info  btn-sm adactions"
	                                        		  onclick="location.href = '{{ path("after_renew_index",{'ad':ad.id}) }}';" >{{ 'espaces.actions.renew'|trans }} <i class="fa fa-retweet" aria-hidden="true"></i></button>

													  
															{% if ad.attractive == false or ad.attractive == null %}
															
															<button click="" class="btn btn-info  btn-sm adactions"
															onclick="location.href = '{{ path("after_attractivead_index",{'ad':ad.id}) }}';" >{{ 'espaces.actions.attractive'|trans }} <i class="fa fa-fire" aria-hidden="true"></i></button>
															
															{% endif %}	
								   
										           {% endif %}

			 		
	                          

	                            </section>
	                        </a>
	                    </li>
	                    {% endfor %}
	                </div>
                </ul>
            </section>
            <footer class="pagination clearfix">
                {{ knp_pagination_render(ads) }}
            </footer>
        </section>
 
       
        
    </section>
</section>

    <div style="margin-top: 100px;" class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title class-modal-title" ></h4>
                </div>
                <div class="modal-body">
                    <p class="class-modal-content" ></p>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger btn-ok class-modal-btn">Delete</button>
                </div>
            </div>
        </div>
    </div>
{% block specifics_javascripts %}
<script>

 $(".btn-disable").on('click',function(){
	 
    var url = $(this).attr('data-url'); 
	$(".btn-ok").click(function(){ window.location.href = url; });
	$("#confirm-delete").find('.class-modal-title').text($(this).attr('data-title'));
	$("#confirm-delete").find('.class-modal-content').text($(this).attr('data-content'));
	$("#confirm-delete").find('.class-modal-btn').text($(this).attr('data-btn'));
	
    $("#confirm-delete").modal("show");
          $(this).parents('a').on('click',function(e){
           return false;
         });
    });


	$('.adedit,.adactions').on('click',function(){
    
	      $(this).parents('a').on('click',function(e){
           return false;
         });

	});

	

</script>

{% endblock %}
{% endblock %}