{% extends 'layoutFront.html.twig' %}

{% block block_no_filter %}
      
      <section class="content-center" style="overflow: hidden;">
                 
                <div class="container">
	                <div class="">
	                             
	             	 	 {{ render(controller('AppBundle:Front/ShowroomSpace:index')) }}

						<div class="jumbotron col-sm-3 col-sm-12 col-xs-12 top-space-action">
								   <a href="{{ path('recharge_account_choose_payment_methode_index') }}" ><h2 class="display-6">{{ 'espaces.recharge_compte'|trans }}</h2></a>
						</div>

						 {{ render(controller('AppBundle:Front/ShowroomSpace:expiration')) }}

	                </div>

	        <div class="row espace-content">

          <div class="col-md-3 col-xs-12 espace-content-action" {# style="margin-bottom: 310px;" #}>


            <div class="card">
				 <div class="card-body">
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item action-item {% if app.request.attributes.get('_route') == 'vitrine_info_index'%}card-menu-item-active {% endif %}">
					     	<div class="card-menu-item" style=""> <a href="{{ path('vitrine_info_index') }}" >{{ 'espaces.actions.mes_info'|trans }}</a> </div>
				    </li>
				    <li class="list-group-item action-item  {% if app.request.attributes.get('_route') == 'annonces_vitrine_liste_index' and type == 'actives' %}card-menu-item-active {% endif %}">
					     	<div class="card-menu-item" style=""> <a href="{{ path('annonces_vitrine_liste_index',{ 'type' : "actives" }) }}">{{ 'espaces.actions.annonce_active'|trans }}</a> </div>
				    </li>
				    <li class="list-group-item action-item {% if app.request.attributes.get('_route') == 'annonces_vitrine_liste_index' and type == 'enattente' %}card-menu-item-active {% endif %}">
					     	<div class="card-menu-item" style=""><a href="{{ path('annonces_vitrine_liste_index',{ 'type' : "enattente" }) }}" >{{ 'espaces.actions.annonce_attent'|trans }}</a></div>
				    </li>
				    <li class="list-group-item action-item  {% if app.request.attributes.get('_route') == 'annonces_vitrine_liste_index' and type == 'inactives' %}card-menu-item-active {% endif %}">
					     	<div class="card-menu-item" style=""> <a href="{{ path('annonces_vitrine_liste_index',{ 'type' : "inactives" }) }}" >{{ 'espaces.actions.annonce_inactive'|trans }}</a></div>
				    </li>
					<li class="list-group-item action-item  {% if app.request.attributes.get('_route') == 'showroom_inbox_index'%}card-menu-item-active {% endif %}"> 	 
				         	<div class="card-menu-item" style=""><a href="{{ path('showroom_inbox_index') }}" >{{ 'espaces.actions.message'|trans }}</a> <span class="label badge label-number-message" style="float: right;width: 26px;text-align: center;margin-top: 4px;background-color: #4621BC;"> {{ render(controller('AppBundle:Front/ShowroomSpace:noreaded')) }}</span></div>
					</li>
					<li class="list-group-item action-item {% if app.request.attributes.get('_route') == 'Transaction__index'%}card-menu-item-active {% endif %}">
					     	<div class="card-menu-item" style=""><a href="{{ path('Transaction__index') }}" >{{ 'espaces.actions.transaction'|trans }}</a> </div>
				    </li>
					<li class="list-group-item action-item  {% if app.request.attributes.get('_route') == 'showroom_favads_index'%}card-menu-item-active {% endif %}">
					     	<div class="card-menu-item" style=""><a href="{{ path('showroom_favads_index') }}" >{{ 'espaces.actions.favouris'|trans }}</a> </div>
				    </li>
					<li class="list-group-item action-item  {% if app.request.attributes.get('_route') == 'edit_password_index'%}card-menu-item-active {% endif %}">
					     	<div class="card-menu-item" style=""><a href="{{ path('edit_password_index') }}" >{{ 'espaces.actions.change_password'|trans }}</a> </div>
				    </li>
					<li class="list-group-item action-item">
					     	<div class="card-menu-item" ><a style="color:#db4437" href="{{ path('account_logout')}}" >{{ 'header.sedeconnecter'|trans }}</a> </div>
				    </li>
				     
				  </ul>
				  </div>
				  
				</div>

        </div>


                    <div class="col-md-8 col-xs-12 espace-content-inner">
	                          
         					 {% block normal_holder %}
                       
                        

                             {% endblock %}

	               </div> 
	        </div>


	               

               

                </div>

      </section>

{% endblock %}


             