{% extends '::layout.html.twig' %}

{% block title %}Talents | {{ sitename }}{% endblock %}

{% block content %}
    <div id="titlebar">
        <div class="container">
            <div class="ten columns">
                <h2>{{ "global.user_confirmation_expired"|trans }}</h2>
            </div>
        </div>
    </div>
    <div class="container">
        Le lien est expiré
    </div>
{% endblock %}
