{% extends 'layoutAdmin.html.twig'%}
{% block title %}77Maroc-List{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            {% include 'FlashMessages/FlashMessages.html.twig'%}
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-6">
             <a href="{{path('box_ads_expirer_delete')}}" class="btn btn-primary btn-block btn-delete-all"><i class="material-icons">delete</i>&nbsp;&nbsp;Supprimer Tout</a>
            </div>
        </div>
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="purple">
                    <i class="material-icons">assignment</i>
                </div>
                 <div class="card-content">
                <h4 class="card-title">Liste des Annonces Expirer </h4>
                <div class="material-datatables">
                    <table id="table-box-ad-expirer" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                        <thead>
                            <tr>
                                <th class="text-center">User</th>
                                <th class="text-center">Categorie</th>
                                <th class="text-center">Prix</th>
                                <th class="text-center">Ville</th>
                                <th class="text-center">Date</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr class="text-center">
                                <th class="text-center">User</th>
                                <th class="text-center">Categorie</th>
                                <th class="text-center">Prix</th>
                                <th class="text-center">Ville</th>
                                <th class="text-center">Date</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for ad in ads %}
                            <tr class="text-center" id="{{ad.id}}">
                                <td>{{ad.user.email}}</td>
              
                                <td>{{ad.category}}</td>
                                <td>{{ad.price}}</td>
                                <td>{{ad.villename}}</td>
                                <td>{{ad.createdAt|date("m/d/Y H:i:s") }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
                <!-- end content-->
            </div>
       
        <!--  end card  -->
    </div>
    <!-- end col-md-12 -->
</div>

<script>
    jQuery(document).ready(function(){
        var table = $('#table-box-ad-expirer').DataTable();
        
    });
</script>
{% endblock %}