{% extends 'layoutAdmin.html.twig'%}
{% block title %}77maroc-contact{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            {% include 'FlashMessages/FlashMessages.html.twig'%}
        </div>
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="purple">
                    <i class="material-icons">assignment</i>
                </div>
                 <div class="card-content">
                <h4 class="card-title">Liste des Messages </h4>
                <div class="material-datatables">
                    <table id="table-contact-act" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                        <thead>
                            <tr>
                                <th class="text-center">Nom complet</th>
                                <th class="text-center">Email</th>
                                <th class="text-center">Date</th>
                                <th class="disabled-sorting text-center">Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr class="text-center">
                                <th class="text-center">Nom complet</th>
                                <th class="text-center">Email</th>
                                <th class="text-center">Date</th>
                                <th class="disabled-sorting text-center">Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for message in messages %}
                            <tr class="text-center">
                                <td>{{message.namecomplet}}</td>
                                <td>{{message.email}}</td>
                                <td>{{message.createdAt|date("m/d/Y H:i:s") }}</td>
                                <td class="text-center">
                                     <a href="#" data-target=".modal-contact-{{message.id}}" data-toggle="modal" class="btn btn-simple btn-success btn-icon edit"><i class="material-icons">remove_red_eye</i></a>
                                    <a href="{{ path('contact_us_box_delete',{'id':message.id})}}" class="btn btn-simple btn-success btn-icon edit"><i class="material-icons">close</i></a>




                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
                <!-- end content-->
            </div>
       
        <!--  end card  -->
    </div>
    <!-- end col-md-12 -->
</div>
{% for message in messages %}
 <div class="modal fade modal-contact-{{message.id}}"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5>Message</h5>
            </div>
                <div class="modal-body">
                    <p class="lead text-center">{{message.message}}</p>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-simple" data-dismiss="modal">Fermer</button>
                </div>
        </div>
    </div>
</div>
{% endfor %}
<script>
    jQuery(document).ready(function(){
        $('#table-contact-act').DataTable();
    });
</script>
{% endblock %}