{% extends 'layoutFront.html.twig' %}
{% block content %}

         <section class="content-center">
           
           <div class="showroominfo">
               <div class="col-md-8 infotext">
                    <div class="titlecontent">
                             <h3>{{ user.namevetrine }}</h3>
                             
                            {% set AdCount = 0 %} 
                            {% for a in user.ad if a.status %}
                                {% set AdCount = AdCount + 1 %}
                            {% endfor %}
                           
                    </div>
                    <div class="desccontent">
                        {{ user.description }}
                    </div>
                    {% if (user.adresse != null) and (user.adresse != "")  %}
                                   <div class="desccontent" style="margin-top: 12px;">
                                    <b>{{ 'espaces.form.adresse'|trans }}</b> : {{ user.adresse }}
                                    </div>
                    {% endif %}
                    
                  
               </div>
               <div class="col-md-4 infoimage">
                     <div class="imagecontent">
 
                         <img src="{{ vich_uploader_asset(user, 'imageFile') |imagine_filter('vetrine_logo') }}" alt="">
                     </div>
                     <div class="action">
                    
                            <a  id="hide-num-btn"  class="btn btn-primary btn-block"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;<span >{{ 'annonces_detail.action.display_phone_number'|trans }}</span>
                            </a>
                            <a  id="show-num-btn" style="display:none;"  href="" class="btn btn-primary btn-block"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;<span>5678998797</span></a>

                     </div>
                     <hr>
                     {% set currentPath = path(app.request.attributes.get('_route'),
                       app.request.attributes.get('_route_params')) %}
                      <div  class="showroomlink">
                         <a href="{{ currentPath }}"> http://127.0.0.1:8000{{ currentPath }} </a>
                     </div>
               </div>
           </div>




                    <h1 style="margin-top: 20px;" class="grey small no-border">{{ 'showroom_page.singl.toptitle'|trans }} {{ user.namevetrine }} ( {{ AdCount }} ) </h1>
                    <!--
-->
                    <div class="apn-lt">
                        <div id="lt-l" class="teal-apn"></div>
                        <div id="lt-xl" class="teal-apn"></div>
                    </div>

                    <div class="apn-b">
                        <div id="b1-s" class="teal-apn"></div>
                        <div id="b1-m" class="teal-apn"></div>
                        <!--
    -->
                        <div id="b2-m" class="teal-apn"></div>
                        <div id="b1-l" class="teal-apn"></div>
                        <!--
    -->
                        <div id="b2-l" class="teal-apn"></div>
                        <!--
    -->
                        <div id="b3-l" class="teal-apn"></div>
                        <div id="b1-xl" class="teal-apn"></div>
                        <!--
    -->
                        <div id="b2-xl" class="teal-apn"></div>
                        <!--
    -->
                        <div id="b3-xl" class="teal-apn"></div>
                        <!--
    -->
                        <div id="b4-xl" class="teal-apn"></div>
                        <div class="clear"></div>
                    </div>

                    <div class="apn-mb">
                        <div id="mb-s" class="teal-apn"></div>
                        <div id="mb-m" class="teal-apn"></div>
                        <div id="mb-l" class="teal-apn"></div>
                        <div id="mb-xl" class="teal-apn"></div>
                    </div>

                    <!-- Main container for listing and ALU -->
                    <section id="listingAds" class="grid-3-1">
                        <!-- Listing -->
                        <section class="list mainList tabs">

                            <div class="apn-lt" id="lt_1">
                                <div id="lt-s" class="teal-apn"></div>
                                <div id="lt-m" class="teal-apn"></div>
                            </div>
 
                            <section class="tabsContent block-white dontSwitch">
                                <ul>

                                

                                    {% if ads is empty %}
                                         <h1> Aucune annonce Trouvé pour cette boutique </h1>
                                    {% else %}

                                        {% for ad in ads %}

                                        <li>
                                         {% set ville = (ad.villename is not empty) ? ad.villename : "ville"  %}
                        <a href="{{ path('detail_ad',{'ville':ville,'category':ad.category,'slug':ad.slug})}}" data-adid="{{ ad.id }}" class="list_item clearfix trackable {{ (ad.attractive) ? 'attractive' : '' }}">
                            <div class="item_image">

                                 {% if ad.images|length > 0 %}
                               {% set  imageFirst= ad.images|first %}
                                {% if imageFirst is not null %}
                                <span class="item_imagePic" style="background:url('{{ vich_uploader_asset(imageFirst, 'pathFile') |imagine_filter('ad_thumb_small') }}') center no-repeat;">
                                           </span>
                               <span class="item_imageNumber">
                                <i style="color: black;" class="fa fa-camera fa-1x" aria-hidden="true"></i>
                                 <span>{{ad.images|length}}</span>
                                </span>
                                {% endif %}
                                {% else %}
                                    <span class="item_imagePic" style="background:url('/plugins/front/img/no-picture.png') center no-repeat;">
                                           </span>
                                {% endif %}


                            </div>
                         

                            {% if ad.renewed %}
                                   <img class="renewedad" src="{{ asset('img/renewable.png')}}">
                            {% endif %}
                            
                            
                            <section class="item_infos">
                                <h2 class="item_title" itemprop="name" style=" font-weight: bold;">{{ ad.title }}</h2>
                                <p class="item_supp" itemprop="category" style="line-height: 47px;
                                        color: #9a9a9a;
                                        font-weight: bold;" content="{{ ad.villename }} - {{ ad.secteurname}}">
                                        {{ ad.villename }} - {{ ad.secteurname}}
                                        
                                    </p>
                                    
                                    <p class="item_supp" style="line-height: 47px; color: #9a9a9a;font-weight: bold;"><i style="color:blue !important;" class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp; {{ad.createdAt|date('Y-m-d')}}

                                                  
                                      </p>
                                       <p class="item_supp" style="line-height: 47px; color: #9a9a9a;font-weight: bold;">
                                      
                                        {% if ad.urlyoutube is not empty %}
                                           <img style="max-width:50px; max-height:100px;" src="{{ asset('img/youtube.png')}}">
                                        {% endif %}

                                        {% if ad.user is not null %}
                                            {% for role in ad.user.roles if role == 'ROLE_VETRINE' %}
                                              <img style="margin-left:5px;max-width:50px; max-height:100px;" src="{{ asset('img/shield.png')}}">
                                            {% endfor %}
                                          {% endif %}
                                        

                                                  
                                      </p>
                                    <aside class="adprice item_absolute">
                                        <p class="item_supp" content="{{ad.createdAt|date('Y-m-d H:i:s')}}">

                                            <span style=" font-weight: bold;">{{ad.price}} {{ 'global.devise'|trans }}</span>

                                        </p>
                                    </aside>
                                </section>
                            </a>
                        </li>

                                        {% endfor %}
                                        
                                    {% endif %}

                                </ul>
                            </section>

                             <footer class="pagination clearfix">
                                {{ knp_pagination_render(ads) }}
                            </footer>

                        </section>

                      <!-- ALU -->
                         <div class="col-lg-12 col-sm-12 col-xs-12 hidden-xs hidden-sm" style="padding-top:5px;">
                {% if publicityContact  is not empty %}
                  <div class="text-center" style="padding:6px;top: 0px;left:0;right:0;">
                    {% if publicityContact.type == 'PUB SCRIPT' %}
                        <div id="script-check" style="margin: auto;width: 100%">
                          {{ publicityContact.script }} 
                        </div>
                     {% else %} 
                      <a href="{{publicityContact.url}}" target="_blank" >
                         <img src="{{ vich_uploader_asset(publicityContact, 'imageFile')  }}"  style="width:100%" border="0" />
                      </a>

                    {% endif %}
                  </div>  
                {% endif %}
            </div>

                    </section>

                </section>

                {% block specifics_javascripts %}
                         <script>
                                 $(document).ready(function(){
                                    $('#hide-num-btn').on('click',function(){
                                        $(this).remove();
                                        $('a#show-num-btn').show();
                                    });
                                 });
                         </script>
                {% endblock %}
                
{% endblock %}
        