{% extends 'layoutAdmin.html.twig'%} 
{% block content %}
      <div class="row">
            {% include 'FlashMessages/FlashMessages.html.twig'%}
     </div>
<div class="col-md-12">
    <div class="card">
         <div class="row">
            {{ form_errors(formAccountNormal) }}
            {{ form_errors(formAccountVetrine) }}
        </div>
        <div class="card-header">
            <h4 class="card-title">Type des comptes</h4>
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col-md-4">
                    <ul class="nav nav-pills nav-pills-icons nav-pills-info nav-stacked" role="tablist">
                       
                        <li class="active">
                            <a href="#formAccountNormal" role="tab" data-toggle="tab">
                                <i class="material-icons">assignment_ind</i> Compte Normale
                            </a>
                        </li>
                        <li>
                            <a href="#formAccountVetrine" role="tab" data-toggle="tab">
                                <i class="material-icons">assignment_ind</i> Compte Vetrine
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <div class="tab-content">
                        <div class="tab-pane active" id="formAccountNormal">
                               {{form_start(formAccountNormal,{ 'attr' :{'class':'form-horizontal'}, 'action': path('edit_config_account', {'id':accountNormal.id})}) }}
                                    {{form_widget(formAccountNormal)}}
                                     <button type="submit" class="btn btn-fill btn-block btn-success">Valider</button>
                                {{ form_end(formAccountNormal)}}
                        </div>
                         <div class="tab-pane" id="formAccountVetrine">
                             {{form_start(formAccountVetrine,{ 'attr' :{'class':'form-horizontal'}, 'action': path('edit_config_account', {'id':accountNormal.id})}) }}
                               {{form_widget(formAccountVetrine)}}
                                <button type="submit" class="btn btn-fill btn-block btn-success">Valider</button>
                              {{ form_end(formAccountVetrine)}}
                        </div>
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}