{% extends 'layoutFront.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block block_no_filter %}
         <section style="overflow: hidden; border-top: 3px solid #61304b; margin-bottom: 30px;" class="content-center main-login main-center">
<h3 style="text-align: center;"> {{ 'register.title'|trans }} </h3>
                        {{form_start(form,{'attr':{'class':'form-horizontal'}}) }}


                        <div class="form-group">
							<label for="name" class="cols-sm-2 control-label">{{ 'register.status.label'|trans }}</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-cog fa" aria-hidden="true"></i></span>
									        {{form_widget(form.status)}}   
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									{{form_widget(form.firstName,{'attr':{'placeholder': 'register.name.placeholder'|trans }})}} 
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									{{form_widget(form.email,{'attr':{'placeholder': 'register.email.placeholder'|trans }})}} 
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-phone fa" aria-hidden="true"></i></span>
									{{form_widget(form.phone,{'attr':{'placeholder': 'register.phone.placeholder'|trans }})}} 
								</div>
							</div>
						</div>


						<div class="form-group">
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									{{form_widget(form.plainPassword.first,{'attr':{'placeholder': 'register.password.placeholder'|trans }})}} 
								    <span style="margin: auto;display: block;width: 80%;" id='message'></span>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									{{form_widget(form.plainPassword.second,{'attr':{'placeholder': 'register.password_confirm.placeholder'|trans }})}} 
								    <span style="margin: auto;display: block;width: 80%;" id='message'></span>
								</div>
							</div>
						</div>

						<div class="form-group ">
							<button id="register-submit" type="submit" class="btn btn-primary btn-lg btn-block login-button">{{ 'register.register'|trans }}</button>
						</div>
						<div class="login-register">
				            <a id="register-submit" href="{{ path('account_login') }}">{{ 'register.login'|trans }}</a>
				         </div>

								

                         
                        {{ form_row(form._token) }}
                        {{ form_end(form, {'render_rest': false}) }}


                
          </section>
		  		 {% block specifics_javascripts %}
				<script type="text/javascript">
						  
		document.addEventListener("DOMContentLoaded", function() {

        $("#register-submit").click(function () {
           
            if ($('#appbundle_user_plainPassword_first').val() != $('#appbundle_user_plainPassword_second').val()) {
                return false;
            }
 
        });

				$('#appbundle_user_plainPassword_first, #appbundle_user_plainPassword_second').on('keyup', function () {
				if ($('#appbundle_user_plainPassword_first').val() == $('#appbundle_user_plainPassword_second').val()) {
					$('#message').html("{{ 'register.validation.passwordvalid' | trans }}").css('color', 'green');
				} else 
					$('#message').html("{{ 'register.validation.passworderror' | trans }}").css('color', 'red');
				});


    var elements = document.getElementsByTagName("INPUT");
    for (var i = 0; i < elements.length; i++) {
        elements[i].oninvalid = function(e) {
            e.target.setCustomValidity("");
            if (!e.target.validity.valid) {
                e.target.setCustomValidity("{{ 'showroomrequest.validation.required' | trans }}");
            }
        };
        elements[i].oninput = function(e) {
            e.target.setCustomValidity("");
        };
    }
});
				</script>
    {% endblock %}
{% endblock %}
        