{% extends 'layoutFront.html.twig' %} 

    {% block block_no_filter %}
            <div class="thany-you-page"> 
			 
			     <header class="site-header" style="padding-top: 0;margin-top: 150px;" id="header">
				        <h1 class="site-header__title" data-lead-id="site-header-title">
						
					 
						       Thank You 
						</h1>
			     </header>

		     	<div class="main-content">
						<i class="fa fa-check main-content__checkmark" id="checkmark"></i>
						<p class="main-content__body" data-lead-id="main-content-body">
					                						         Merci pour votre inscription dans notre site
 

						</p>
		    	</div>


			    
			</div>
			 
     
    {% endblock %}
	
	