{% extends 'layoutFront.html.twig' %}

{% block title %}77Maroc-Login{% endblock %}
{% block body_class %}off-canvas-sidebar{% endblock %}
{% block block_no_filter %}

  {% for messageInfo in app.session.flashbag.get('info')%}
                                     <div class="alert alert-info text-center">
                                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                      <i class="ti-check-box"></i>&nbsp;{{messageInfo}}
                                    </div>
  {% endfor %} 


   {% if error %}

<div class="row text-center">
    <div class="alert alert-danger text-center">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <i class="ti-check-box"></i>&nbsp;
        <strong>{{ error.messageKey|trans(error.messageData, 'security') }}</strong>
        <br> {% if app.session.get('vitrine') %} {% if error.messageKey == "Account is disabled."%} votre vetrine a été expiré contactez l'administrateur pour savior plus de details ! {% endif %} {% endif %}
    </div>
</div>                                       
  {% endif %}
<div class="login-page">
  <div class="form">
  
  
  {% if app.session.get('vitrine') %}
      <h3> {{ 'login.connect_to_showroom'|trans }} </h3>
  {% else %}
      <h3> {{ 'login.connect_to_normal'|trans }} </h3>
  {% endif %}
    <form class="login-form" action="{{ path("account_login_check") }}" method="post" role="form">
         <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
         <input type="hidden" name="_target_path" value="{{ app.request.headers.get('referer')  }}" />
 
      <input type="text" id="username" name="_username"  placeholder="{{ 'login.form.username'|trans }}"/>
      <input type="password" id="password" name="_password"  placeholder="{{ 'login.form.password'|trans }}"/>
      <button  type="submit">{{ 'login.form.button'|trans }}</button>
       
               <p class="message"><a href="{{ path('fos_user_resetting_request') }}">{{ 'login.form.forgotpass'|trans }}</a></p>
       
     
    </form>
    
  </div>
  {% if app.session.get('vitrine') %}
          <h3 style="text-align: center;"> {{ 'login.dont_have_showroom'|trans }} </h3>
          <button class="newbtn" onclick="window.location='{{ path('showroomrequest_index') }}'">{{ 'login.create_showroom'|trans }}</button>
          
  {% else %}
          <h3 style="text-align: center;"> {{ 'login.dont_have_account'|trans }} </h3>
          <button class="newbtn" onclick="window.location='{{ path('user_registration') }}'">{{ 'login.create_account'|trans }}</button>
  {% endif %}
  
</div>





	  
  
    
{% endblock %}
