{% extends 'layoutFront.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

 

 

{% block block_no_filter %}
    <div class="container">
        <div class="sixteen columns">
            <div class="notification notice closeable">
                <p>{{ 'resetting.password_already_requested'|trans }}</p>
            </div>
        </div>
        <br>
    </div>
{% endblock block_no_filter %}
 
