{% extends 'layoutFront.html.twig' %}



{% block block_no_filter %}

 <section class="content-center" style="overflow: hidden;">

 <div class="container-text-primary" style="width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16%;
    margin-bottom: 20%;">
		<header class="popin-content-template_header">
			<h2>{{ 'forgotpassword.request.header'|trans }}</h2>
		</header>
		<main class="popin-content-template_main">
			<section class="recoverPasswordStart">
				<form id="recoverPassword" action="{{ path('fos_user_resetting_send_email') }}" method="post">
					<div class="line">
						<div class="field-wrapper">
							<label for="ar_email" class="mbs">{{ 'forgotpassword.request.label'|trans }}</label>
							<input type="email" placeholder="{{ 'forgotpassword.request.placeholder'|trans }}" name="username" id="ar_email" class="input full medium " required="required">
							
						</div>
					</div>
					<div class="line">
						<div class="field-wrapper">
							<input type="submit" class="button-blue full medium trackable" id="recoverPasswordSubmit" value="{{ 'forgotpassword.request.button'|trans }}" >
						</div>
					</div>
				</form>
			</section>
	
		</main>
	</div>
 

	 
</section>
{% endblock block_no_filter %}
