	
		<main class="popin-content-template_main">
			<section class="recoverPasswordStart">
                {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
        
                    <div class="line">
						<div class="field-wrapper">
							{{ form_row(form.plainPassword.first,{'attr': { 'class':'input full medium forgot', 'placeholder': 'forgotpassword.change_password.form.password'|trans }}) }}
							
						</div>
					</div>
                    <div class="line">
						<div class="field-wrapper">
							{{ form_row(form.plainPassword.second,{'attr': { 'class':'input full medium forgot', 'placeholder': 'forgotpassword.change_password.form.confirm_password'|trans }}) }}
							
						</div>
					</div>
                    <div class="line">
						<div class="field-wrapper">
							<input type="submit" class="button-blue full medium trackable" id="recoverPasswordSubmit" value="{{ 'forgotpassword.change_password.form.submit'|trans }}" data-info="{&quot;event_name&quot; : &quot;header::bloc_connexion::mot_de_passe_oublie::validation_email&quot;, &quot;event_type&quot; : &quot;click&quot;, &quot;click_type&quot; : &quot;N&quot;}">
						</div>
					</div>
                {{ form_end(form) }}
 
			</section>
		</main>
 
