{% extends 'layoutFront.html.twig' %}

{% block block_no_filter %}

<section class="content-center" style="overflow: hidden;">

 <div class="container-text-primary" style="width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16%;
    margin-bottom: 20%;">
		<header class="popin-content-template_header">
			<h3>{{ 'forgotpassword.change_password.header'|trans }}</h3>
		</header>
		<main class="popin-content-template_main">
			<section class="recoverPasswordStart passwordchangepass">
			 
							{% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
					 
			 
			</section>
 
		</main>
	</div>
 

	 
</section>


     
        {% block specifics_javascripts %}
		   <script>
		              
				{# $("label[for='fos_user_resetting_form_plainPassword_first']").remove();
				$("label[for='fos_user_resetting_form_plainPassword_second']").remove();
				  #}

				 
    
		   </script>
		{% endblock %}
	    
	
{% endblock block_no_filter %}
