{% extends 'layoutFront.html.twig' %}
   
    {% block specifics_stylesheets %}

     <link href="{{ asset('plugins/css/material-dashboard.css?v=1.2.1')}}" rel="stylesheet" />
      <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
       <script src="{{ asset('plugins/js/jquery-3.2.1.min.js')}}" ></script>
      <link href="{{ asset('plugins/css/demo.css')}}" rel="stylesheet" />
    <style type="text/css">
      body{
        overflow-x: hidden;
      }
    </style>
    {% endblock %}
 
{% block block_no_filter %}
	<div class="col-md-12" style="z-index:99999999">
	        <div class="card">
	            <div class="card-content">
	                <h4 class="card-title">Modifier annonce <strong class="text-primary">{{ad.slug}}</strong> </h4>
	                <form method="POST" action="{{path('ad_traitement_edit',{'id':ad.id})}}" enctype="multipart/form-data" >
	                	
	                   		{% include 'Partials/categoriesCritiriaOptions.html.twig'%}
	              
	                	<hr style="1px solid #e6e6e6"/>
	                	
	                  	{% include 'Partials/cityRegionSecteur.html.twig' %}
	                	
	                	  <div class="form-group">
                                <label for="name" class="text-primary"><strong>Titre: *</strong></label>
                                <input type="text" class="form-control" name="title" id="email" placeholder="Titre de l'annonce" >
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group" id="price">
                               <label class="text-primary" for="price"><strong>Prix :*</strong></label>  
                               <input type="number" class="form-control" name="price"  placeholder="Prix de l'annonce" >
                               <div class="help-block with-errors"></div>
                           </div>
                             <div class="form-group">
                                <label class="text-primary" for="description"><strong>Description :*</strong></label>    
                                <textarea rows="6" cols="30" class="form-control" id="description"
                                  name="description" placeholder="Description de l'annonce" ></textarea>
                                 <div class="help-block with-errors"></div>
                             </div>  
                             <div class="form-group">
                                <label class="text-primary" for="description"><strong>Localisation sur la map :</strong></label>    
                                 <input type="text" class="form-control" name="latLng" value="{{ad.latLng}}">
                             </div>
                             <div class="row">
                             	<h3>Images</h3>


                             	{% for image in ad.images %}
                                 <br class="visible-sm visible-xs"/>
                                <ul class="list-inline">
                             	  <li class="supprimer-img">
                             	  	<p style="text-align: center; width: 121px" class="lead">{{image.alt}}</p>
                             	  	<a class="btn btn-danger supp-img">Supprimer</a>
                             	  	<a class="btn btn-success rajouter" style="display:none;">Rajouter</a>
                             	  	 <img style="max-width:100px !important" src="{{ vich_uploader_asset(image, 'pathFile') |imagine_filter('ad_thumb_small')}}" class='preview'>
          			     			  	     <input class="id-img" type="hidden" disabled="disabled" name="deleteFile[{{image.id}}]" value="{{image.id}}">
                                </li>
                              </ul>
                              <br class="visible-sm visible-xs"/>
          			     			   {% endfor %}
                            </div>
                             <div class="form-group">
                                <label class="text-primary" for="description"><strong>Lien Youtube :*</strong></label>    
                                <input type="text" class="form-control" name="urlyoutube" value="{{ad.urlyoutube}}">
                             </div>  
                             <div class="form-group">
                                <label class="text-primary" for="description"><strong>Lien site web :*</strong></label>    
                                <input type="text" class="form-control" name="urlwebsite" value="{{ad.urlwebsite}}">
                            </div> 
                            <div class="row">
                            	<input type="submit"  class="btn btn-success btn-block" value="Modifier">
                            </div>  
                           
	                </form>
	            </div>
	        </div>
   		</div>


 {% endblock %}

 {% block specifics_javascripts %}
 
 	<script>
 	jQuery(document).ready(function($) {



         $('select.region').on('change',function(){
               $('select.ville').children('option').hide();
               $('select.ville').find('.'+$(this).val()).show();
      });
      $('select.ville').on('change',function(){
        
         if($("select#categories").find(':selected').attr('data-father-cat') == "immobilier_location"
             || $("select#categories").find(':selected').attr('data-father-cat') =="immobilier_vente" ){
              $('.quartier-hide').show();
              $('select.quartier').removeAttr('disabled');
              $('select.quartier').attr('required','required');
              $('select.quartier').children('option').hide();
              $('select.quartier').find('.'+$(this).val()).show();
          }
      });
 		 $("select#categories").on('change', function() {

        $('input[name="fathercategory"]').val($(this).find(':selected').attr('data-father-cat'));

        $('div.critirias-options').find('.critiriasOpt').hide();
        $('div.critirias-options').find('.critiriasOpt').find('select').attr('disabled', 'disabled');
        $('div.critirias-options').find('.critiriasOpt').find('input').attr('disabled', 'disabled');

        
        $('div.critirias-options').find('.' + $(this).val()).find('select').removeAttr('disabled');
        $('div.critirias-options').find('.' + $(this).val()).find('input').removeAttr('disabled');
        $('div.critirias-options').find('.' + $(this).val()).show();

    });
    $(document).on("change","select.sub-list",function() {
        $('div.critirias-options').find('select.' + $(this).attr('id')).children('option').hide();
/*        $('div.critirias-options').find('select.' + $(this).attr('id')).find('.' + $(this).val());
*/        $('div.critirias-options').find('select.' + $(this).attr('id')).find('.' + $(this).val()).show();

    });
 		$('select[name="categories"]').val('{{ad.category}}').trigger('change');
       
		   {% for key, option in ad.listoptions %}
	        	$('select[name="critiriaOption[{{key}}]"]').val('{{option}}').trigger('change');
	        	$('input[name="critiriaOption[{{key}}]"]').val('{{option}}');

		   {% endfor %}
	    
	     
    $('select[name="region"]').val("{{ad.secteurname}}").trigger('change');
    $('select[name="ville"]').val("{{ad.villename}}").trigger('change');
    $('select[name="quartier"]').val("{{ad.quartier}}");
 		$('input[name="price"]').val("{{ad.price}}");
 		$('input[name="title"]').val("{{ad.title}}");
 		$('textarea[name="description"]').val(`{{ad.description}}`);

		$('.supp-img').on('click',function(){
			$(this).parent('.supprimer-img').find('.id-img').removeAttr('disabled');
			$(this).parent('.supprimer-img').find('.lead').css('background','red');
			$(this).hide();
			$(this).parent('.supprimer-img').find('.rajouter').show();
		});
		$('.rajouter').on('click',function(){
			
			$(this).parent('.supprimer-img').find('.id-img').attr('disabled','disabled');
			$(this).parent('.supprimer-img').find('.lead').css('background','white');
			$(this).hide();
			$(this).parent('.supprimer-img').find('.supp-img').show();
		});
		$('select[name="messageRefuser"]').on('change',function(){
			if($(this).val() !== "")
			{
				$('input[name="ad-operation"]').removeAttr('disabled');
			}else{
				$('input[name="ad-operation"]').attr('disabled','disabled');
			}


		});
			     			  	
 	});
      </script>
 	 


{% endblock %}
