{% extends 'layoutFront.html.twig' %} 
{% block title %}Page 1{% endblock %}

{% block block_no_filter %}
 
 <section class="content-center ">
    <div class="row">
        {% include 'FlashMessages/FlashMessages.html.twig'%}
    </div>
             <div class="small-content-center" style="padding: 20px;">
                   <h2 style="text-align: center"> {{ 'before_payment.message.adrenew'|trans }} {{renew_price}} {{ 'global.devise'|trans }} </h2>      
                   <a  style="height: 50px;line-height: 2.5;" href="{{ path("renew_choose_payment_methode_index",{'ad':ad.id}) }}" class="btn btn-warning btn-block"><i class="fa fa-money" aria-hidden="true"></i> {{ 'before_payment.message.button_start_renew'|trans }} </a>
				    
             </div>
                           
 </section>
				

{% endblock %}