{% extends 'layoutFront.html.twig' %} 
{% block title %}77maroc-success{% endblock %}

    {% block block_no_filter %}
            <div class="thany-you-page"> 
			 
			     <header class="site-header" id="header">
				        <h1 class="site-header__title" data-lead-id="site-header-title">
						  Success
						</h1>
					
			     </header>

		     	<div class="main-content">
						<i class="fa fa-check main-content__checkmark" id="checkmark"></i>
						<p class="main-content__body" data-lead-id="main-content-body">
						Votre annonce bien ajouter ,attendez la confirmation de notre Equipe !
						</p>
		    	</div>


			    
			</div>
			 
    {% endblock %}
	
	