{% extends 'layoutAdmin.html.twig' %}
{% block content%}  
  <div class="row">
            {% include 'FlashMessages/FlashMessages.html.twig'%}
     </div>
 <div class="row" style="display:none;">
      {{ form_errors(form) }}
    </div>
<div class="row">

<div class="col-md-8">
    
   
    <div class="card">
        
            {{form_start(form,{'attr':{'class':'form-horizontal'}}) }}

        <div class="card-header card-header-text" data-background-color="blue">
            <h4 class="card-title">Modifier</h4>
        </div>
        
                                          
        <div class="card-content">
        {#    <div class="row">
               
                <div class="col-sm-12">
                    <div class="form-group label-floating is-empty">
                        <label for="inputEmail4">{{ 'espaces.form.nom'|trans }}</label>
                        {{form_widget(form.lastName, { 'attr': {'class' : "form-control",'placeholder' : 'espaces.form.nom'|trans} })}}   
                    </div>
                </div>
            </div> #}
            <div class="row">
               
                <div class="col-sm-12">
                    <div class="form-group label-floating is-empty">
                           <label for="inputPassword4">{{ 'espaces.form.prenom'|trans }}</label>
                      {{form_widget(form.firstName, { 'attr': {'class' : "form-control",'placeholder' : 'espaces.form.prenom'|trans} })}}       
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="col-sm-12">
                   <label for="inputAddress">{{ 'espaces.form.phone'|trans }}</label>
                                    {{form_widget(form.phone, { 'attr': {'class' : "form-control",'placeholder' : 'espaces.form.phone'|trans} })}} 
                </div>
            </div>
             <div class="row">
                <div class="col-sm-12">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label"></label>
                       {{form_widget(form.plainPassword.first)}}
                    </div>
                </div>
            </div>
               <div class="row">
                <div class="col-sm-12">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label"></label>
                       {{form_widget(form.plainPassword.second)}}
                    </div>
                </div>
            </div>
           
             
         
        </div>
       <div class="card-footer text-center">
                <button type="submit" class="btn btn-success btn-fill">
                  <span class="btn-label">
                         <i class="material-icons">check</i>
                    </span>Modifier
                </button>
         </div>
       {{ form_row(form._token) }}
         {{ form_end(form, {'render_rest': false}) }}
    </div>
</div>
        
      
 <div class="col-md-4">
            <div class="card card-profile">
               <div class="card-avatar">
                                   
                    <img class="img" src="{{ asset('plugins/img/faces/avatar.jpg')}}">
                                   
                </div>
               
                <div class="card-body">
                    <h6 class="card-category text-gray">{{app.user.firstname}} {{app.user.lastname}}</h6>
                    <h4 class="card-title text-primary">{% if is_granted('ROLE_SUPER_ADMIN') %}SUPER ADMIN {% else %}ADMIN {% endif %}</h4>
                </div>
            </div>
  </div>  
</div>
{% endblock %}