{% extends 'layoutAdmin.html.twig'%} 
{% block content %}
     <div class="row">
        <div class="toolbar pull-right">
            <a class="btn btn-primary" href="{{ path('index_publicity')}}">
        <span class="btn-label">
            <i class="material-icons">keyboard_arrow_left</i>
        </span>Retourner
             </a>
        </div>
    </div>
      <div class="row">
            {% include 'FlashMessages/FlashMessages.html.twig'%}
     </div>
  <div class="col-md-12">
    <div class="card">
         <div class="row">
            {{ form_errors(formPublicityPAUR) }}
            {{ form_errors(formPublicityPABR) }}
            {{ form_errors(formPublicityPABTA) }}
            {{ form_errors(formPublicityPAEA) }}
        </div>
        <div class="card-header">
            <h4 class="card-title">Publicity Page des annonces</h4>
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col-md-4">
                    <ul class="nav nav-pills nav-pills-icons nav-pills-success nav-stacked" role="tablist">
                       
                        <li class="active">
                            <a href="#formPublicityPAUR" role="tab" data-toggle="tab">
                                <i class="material-icons">border_top</i>Au dessus de box de recherche
                            </a>
                        </li>
                        <li>
                            <a href="#formPublicityPABR" role="tab" data-toggle="tab">
                                <i class="material-icons">border_top</i> Au dessous de box de recherche
                            </a>
                        </li>
                         <li>
                            <a href="#formPublicityPABTA" role="tab" data-toggle="tab">
                                <i class="material-icons">border_top</i>Entre les annonces
                            </a>
                        </li>
                        <li>
                            <a href="#formPublicityPAEA" role="tab" data-toggle="tab">
                                <i class="material-icons">border_top</i> Au dessus des annonces
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <div class="tab-content">
                        <div class="tab-pane active" id="formPublicityPAUR">
                               {{form_start(formPublicityPAUR,{ 'attr' :{'class':'form-horizontal checkPub'},'action':path('publicity_valider',{'id': publicityPAUR.id })}) }}
                                    {{form_widget(formPublicityPAUR)}}
                                    {% if publicityPAUR.image != null %} <img  class="img-pub-show"  src="{{ vich_uploader_asset(publicityPAUR, 'imageFile') }}"  style="height:100px !important;width:100% !important; " />
                                    {% endif %}
                                     <button type="submit" class="btn btn-fill btn-block btn-primary">Valider</button>
                                {{ form_end(formPublicityPAUR)}}
                        </div>




                         <div class="tab-pane" id="formPublicityPABR">
                              {{form_start(formPublicityPABR,{ 'attr' :{'class':'form-horizontal checkPub'},'action':path('publicity_valider',{'id': publicityPABR.id })}) }}
                                    {{form_widget(formPublicityPABR)}}
                                    {% if publicityPABR.image != null %} <img class="img-pub-show" src="{{ vich_uploader_asset(publicityPABR, 'imageFile') }}"  style="height:100px !important;width:100% !important; " />
                                    {% endif %}
                                     <button type="submit" class="btn btn-fill btn-block btn-primary">Valider</button>
                                {{ form_end(formPublicityPABR)}}
                            
                        </div>
                          <div class="tab-pane" id="formPublicityPABTA">
                              {{form_start(formPublicityPABTA,{ 'attr' :{'class':'form-horizontal checkPub'},'action':path('publicity_valider',{'id': publicityPABTA.id })}) }}
                                    {{form_widget(formPublicityPABTA)}}
                                    {% if publicityPABTA.image != null %} <img class="img-pub-show" src="{{ vich_uploader_asset(publicityPABTA, 'imageFile') }}"  style="height:100px !important;width:100% !important; " />
                                    {% endif %}
                                     <button type="submit" class="btn btn-fill btn-block btn-primary">Valider</button>
                                {{ form_end(formPublicityPABTA)}}
                            
                        </div>
                          <div class="tab-pane" id="formPublicityPAEA">
                              {{form_start(formPublicityPAEA,{ 'attr' :{'class':'form-horizontal checkPub'},'action':path('publicity_valider',{'id': publicityPAEA.id })}) }}
                                    {{form_widget(formPublicityPAEA)}}
                                    {% if publicityPAEA.image != null %} <img class="img-pub-show" src="{{ vich_uploader_asset(publicityPAEA, 'imageFile') }}"  style="height:100px !important;width:100% !important; " />
                                    {% endif %}
                                     <button type="submit" class="btn btn-fill btn-block btn-primary">Valider</button>
                                {{ form_end(formPublicityPAEA)}}
                            
                        </div>
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block specifics_javascripts %}
    <script>
   
        $(document).ready(function(){
           $('form.checkPub').each(function(){
                if($(this).find('select.type-pub').val() == "PUB SCRIPT"){
                    $(this).find('.url-pub').hide();
                    $(this).find('.img-pub').hide();
                    $(this).find('.img-pub-show').hide();
                    $(this).find('.script-pub').show();
            }else{
                    $(this).find('.url-pub').show();
                    $(this).find('.img-pub').show();
                    $(this).find('.img-pub-show').show();
                    $(this).find('.script-pub').hide();
            }

           });

         $('.type-pub').on('change',function(){
            var parentForm =$(this).closest('form');
             if($(this).val() == "PUB SCRIPT"){
                    parentForm.find('.url-pub').hide();
                    parentForm.find('.img-pub').hide();
                    parentForm.find('.img-pub-show').hide();
                    parentForm.find('.script-pub').show();
            }else{
                    parentForm.find('.url-pub').show();
                    parentForm.find('.img-pub').show();
                    parentForm.find('.img-pub-show').show();
                    parentForm.find('.script-pub').hide();
            }

         });
        
        });
    </script>
{% endblock %}