   {% extends 'layoutAdmin.html.twig'%}
   {% block content %}
   	<div class="row" style="margin-top:4%;">
   		<h3 class="text-primary">Gérer les publicités</h3>
   	</div>
   	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card card-stats">
                <div class="card-header" data-background-color="blue">
                    <i class="material-icons">border_top</i>
                </div>
                <div class="card-content">
                    <p class="category">Sur la page principale</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <a href="{{path('publicity_page_principale')}}">Go configuration des Publicités...</a>
                    </div>
                </div>
            </div>
        </div>
    	
    </div>
    <div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="green">
                    <i class="material-icons">border_top</i>
                </div>
                <div class="card-content">
                    <p class="category">Sur la page des annonces</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <a href="{{path('publicity_page_all_annonces')}}">Go configuration des Publicités...</a>
                    </div>
                </div>
            </div>
        </div>
       <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="orange">
                    <i class="material-icons">border_top</i>
                </div>
                <div class="card-content">
                    <p class="category">Sur la page d'annonce:</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                   <a href="{{path('publicity_page_annonce')}}">Go configuration des Publicités...</a>
                   
                    </div>
                </div>
            </div>
        </div>
    </div>


   {% endblock %}