{% extends 'layoutFront.html.twig' %} 

    {% block block_no_filter %}
            <div class="thany-you-page"> 
			 
			     <header class="site-header" id="header">
				        <h1 class="site-header__title" data-lead-id="site-header-title">
						
					 
						{% if type == 'renew' %} {{ 'after_payment_messages.renew.title'|trans }} {% endif %}
						{% if type == 'attr' %} {{ 'after_payment_messages.attractive.title'|trans }} {% endif %}
						{% if type == 'always' %} {{ 'after_payment_messages.always_in_lead.title'|trans }} {% endif %}
						
						</h1>
			     </header>

		     	<div class="main-content">
						<i class="fa fa-check main-content__checkmark" id="checkmark"></i>
						<p class="main-content__body" data-lead-id="main-content-body">
						{% if type == 'renew' %} {{ 'after_payment_messages.renew.content'|trans }} {% endif %}
						{% if type == 'attr' %} {{ 'after_payment_messages.attractive.content'|trans }} {% endif %}
						{% if type == 'always' %} {{ 'after_payment_messages.always_in_lead.content'|trans }} {% endif %}
						</p>
		    	</div>


			    
			</div>
			 {% block specifics_javascripts %}
				<script type="text/javascript">
						$(document).ready(function(){
							var vil = '{{ ad.villename }}';
							var cat = '{{ ad.category }}';
									window.setTimeout(function(){
									var adid = {{ ad.slug|json_encode()|raw }}
									// Move to a new location or you can do something else
									window.location.href = Routing.generate('detail_ad',{'ville':vil,'category':cat,slug : adid });

								}, 5000);
						});
				</script>
    {% endblock %}
    {% endblock %}
	
	