html[dir="rtl"] #header .header_aside{
    float: left;
}

html[dir="rtl"] #language-selector{
    margin-right: 10px;
}

html[dir="rtl"] .tabsHeader nav{
    float: right;
}

html[dir="rtl"] .tabsHeader nav a{
    float: right;
}

html[dir="rtl"] .item_image{
    float: right;
}

html[dir="rtl"] .item_supp,
html[dir="rtl"] .item_title{
    text-align: right;
    margin-right: 14px;
}
 

html[dir="rtl"] #searchbox .col-lg-3{
     float: right;
}

html[dir="rtl"] .espace-content-action li {
   text-align: right;
}

html[dir="rtl"] .espace-content-action .label-number-message{
    float: left!important;
}

html[dir="rtl"] .inbox-list a .message-is-readed{
    right: initial;
    left: 10px;
}

html[dir="rtl"] .loader {
    
    right: initial;
    left: 16px;
}

html[dir="rtl"] .saveAd i{
    color: #936 !important;
}

html[dir="rtl"] .msg-body-attr{
    float: right;
}

html[dir="rtl"] .moneylabel{
    float: right;
}

html[dir="rtl"] .ads-status{
    left: 10px;
    right: initial;
}

html[dir="rtl"]  .adprice{
    left: 0;
    right: initial!important;
}

html[dir="rtl"]  .list_item .saveAd{
    right: initial!important;
    left: 0;
}

html[dir="rtl"] .item_absolute{
    right: 31px;
}

html[dir="rtl"] .tabsSwitchNumbers{
    float: left;
    margin-right: 8px;
}

html[dir="rtl"] .nav-tabs > li {
    float: right
}

html[dir="rtl"] .sw-theme-dots > ul.step-anchor > li > a:after {
    left: -30%;
    top: 0px;
}

html[dir="rtl"] .sw-theme-dots > ul.step-anchor > li > a[href="#step-1"]:after {
    left: -18%;
    top: 0;
} 

html[dir="rtl"] .sw-container .step-content h3{
    text-align: right
}

html[dir="rtl"] .sw-container .form-group label{
    float: right
}

html[dir="rtl"] .btn-toolbar .sw-btn-group{
     float: left
}

html[dir="rtl"] .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    float: right;
}

html[dir="rtl"] .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

html[dir="rtl"] .sw-container .form-group label[for="terms"] {
    float: left;
}

html[dir="rtl"] .btn-toolbar .sw-btn-group-extra {
    float: left;
}

html[dir="rtl"] .espace-content-action{
    float: right;
}

html[dir="rtl"] .espace-content-inner{
    float: right
}

html[dir="rtl"] .pagination > li{
    float: right;
}


html[dir="rtl"] #header .header_aside .myAccount_nav {
    right: -118px;
}

html[dir="rtl"] .input-group-addon:first-child {
    border-left: 0;
}

html[dir="rtl"] .main-login .input-group-addon{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

html[dir="rtl"] .input-group .form-control:last-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

html[dir="rtl"] .input-group-addon:first-child {
    border-right: 1;
}

html[dir="rtl"]  #recoverPassword label.mbs {
    float: right
}

html[dir="rtl"] .passwordchangepass label{
    float: right;
    color: black;
}

html[dir="rtl"] .buypack .total-price{
     
    float: left;
 
}

/******************************************************/
/****************** Responsive Style ******************/
/******************************************************/

@media (max-width: 768px) {
    
    
html[dir="rtl"] .sw-theme-dots > ul.step-anchor:before {
    
    right: 92px;
    
}

html[dir="rtl"] .sw-theme-dots > ul.step-anchor > li > a:after {
    left: -108%;
    top: -38px;
}

html[dir="rtl"] .sw-theme-dots > ul.step-anchor > li > a[href="#step-1"]:after {
    left: -150%;
    top: -37px;
} 

html[dir="rtl"] .sw-theme-dots > ul.step-anchor > li > a[href="#step-1"]:before{
    top: 6px;
    left: -41px;
}
 
}
