{% extends 'layoutFront.html.twig' %} 
{% block title %}77maroc-Règlement{% endblock %}

{% block block_no_filter %}
<div class="container" style="margin-top:3%;">
 <h1>
Règlement
</h1>
                 <div class="panel-main">
                    <div class="panel-body">
                        <p>
                        </p>
                        <h1>77maroc.com</h1>
                        <h2>Le bon choix pour acheter et vendre en toute sécurité au Maroc.</h2>
                        <br/><br/>  <br/><br/>  
                        <p>
                            Nous sommes convaincus que <a href="#">77maroc.com</a> constitue le choix le plus sûr et le plus pratique pour tout vendre ou acheter au Maroc. Ce service permet à tout utilisateur au Maroc de vendre ou d'acheter en toute simplicité dans sa région, sans inscription ni procédure compliquée. <a href="#">77maroc.com</a> met en rapport les vendeurs et les acheteurs du Maroc et offre une expérience utilisateur exceptionnelle.
                        </p>
                          <br/>
                      
                        <h2>Qui sommes-nous ?</h2><a href="#">77maroc.com</a> est détenu par 77maroc Sarl, qui est une joint-venture entre le groupe Schibsted Classified Media (SCM) et le groupe 77maroc. SCM est actuellement la plus grande entreprise de diffusion d'annonces en Europe. Son activité se développe dans les marchés matures tels que la Belgique, la France, la Suisse, la Finlande, l'Espagne ou la Suède ainsi que dans des marchés en expansion tels que l'Asie, l'Europe de l'Est et l'Amérique Latine. Schibsted a acquis une grande expérience dans la petite annonce en ligne à travers le monde. 77maroc est le leader de la petite annonce .
                        <p></p>
                          <br/><br/>  
                    </div>
                </div>
            </div>

    {% endblock %}